include /_mixins

+menu('Tech Sessions')


//- .conteudo

.slide.s-default.s-var-3.pad
  .pure-g
    .pure-u-1
      h1 Tech Sessions
      ul.sub-menu
        li.nav-atual #[a Instructions for authors]
        li #[a(href="oral_sessions.html") Oral sessions]
    .pure-u-1.pure-u-sm-1.pure-u-lg-2-3.pure-u-xl-3-5
      h2.conf Instructions for authors
      p Below you will find information that will help prepare your contribution to IMOC 2017. 
      p All authors should have at least one full registration associated to their paper. Each paper should be associated  to a full-registration on or before Friday, 14 July in order to be included in the conference proceedings.
      p One full registration gives right for the presentation of two papers.

      p We thank you for participating to IMOC 2017!

      .separador-2
      h3.h-caps Oral Presentations #[br] (Invited and Regular Oral Papers)
      .separador-1-half

      p The time slot for each presentation is:
      ul.buleted.duas-colunas
        li Invited papers: 30 min. (25 min. presentation and 5 min. discussion)
        li Regular oral papers: 15 min. (12 min. presentation and 3 min. discussion)
        li Session chairs are instructed to strictly limit the length of a presentation. We kindly ask the presenters their cooperation in keeping the schedule.
        li We ask the presenters to be at the room of their session 15 minutes before  the session starts.
        

      .separador-2
      h3.h-caps Poster Presentations #[br] (Regular Poster Papers)
      .separador-1-half

      p Poster sessions provide an opportunity for selected papers to be presented in greater visual detail and the posters should be prepared to facilitate the  discussions with attendees. 
      p The quality of the presentation stimulates the attention from the audience and improves the overall satisfaction of the community attending the conference. The poster message should be clear and understandable without oral explanation. 
      p Each paper will be provided a (150cm × 100cm) bulletin board on which to display a summary of the paper. 
      p Authors must remain in the vicinity of the bulletin board for the duration of the session to answer questions. Note that poster presenters are not supplied with any audiovisual equipment


      .separador-2
      h3.h-caps Guidelines
      .separador-1-half
      p The poster should be a visual presentation of your submitted paper and should meet the following criteria:
      ul.buleted.duas-colunas
        li #[strong TITLE] The title should be the same as in the submitted paper. Characters should be a minimum of 48 point font size. Your name, School or Center should also be displayed on the poster.
        li #[strong SIZE] The poster must be no less than A1 and no larger than A0 size (AO size is 841mm × 1189mm). Orientation of your poster must be in portrait style.
        li #[strong LETTERING] The poster should be easily readable at a distance of two metres. Use UPPER and lower case for general content as the use of all-capital text is difficult to read. Avoid using a mixture of type/font styles.
        li #[strong HEADINGS] 48 to 60 point font size is recommended for headings.
        li #[strong CONTENT] 24 to 32 font size single spaced is recommended. The text should be concise and easy to read.

      p The message that your poster contains should be clear and understandable without the requirement of oral explanation. If relevant, methods should be presented simply and concisely.
      p After the title, the two most important panels are the Introduction and the Conclusion. On the basis of these two panels, a reader will decide whether to consider the poster details and perhaps talk to the presenter. These panels need to be very simple, concise and visually attractive.
      p Results should be presented graphically if possible. Avoid large tables of data. Results should be in line with those originally submitted in your paper.
      p Use pictures, symbols and colour. Figure legends are essential and should be short but informative. If using graphs, they should have a short heading. For visual effect, we recommend that graphs be no smaller than 12cm × 18cm.
      p Photographs should be no smaller than 12cm × 18cm.
      p Use the space to attract your audience for discussion, not to present complex details of methods and results.
      


+rodape('Tech Sessions')