include /_mixins

+menu('Tech Sessions')

#slide-container

  //- .conteudo

  .slide.s-default.s-var-3.pad
    .pure-g
      .pure-u-1
        h1 Tech Sessions
        ul.sub-menu
          li #[a(href="index.html") Oral sessions]
          li.nav-atual #[a Instructions for authors]
      .pure-u-1.pure-u-sm-1.pure-u-lg-2-3.pure-u-xl-3-5
        h2.conf Instructions for authors
        h3.h-caps Final Manuscript
        p SBFoton 2018 is using the #[a(href="http://edas.info/", target="_blank") EDAS Conference Management System]. The acceptance notification of the regular papers submitted for the SBFOTON Conference 2018 has been sent to the main author on 31st July. In the acceptance notification authors have been asked to address the reviewers' comments and submit a final version of the paper.
        p Use A4 format.
        p The authors of accepted papers to SBFoton 2018 should upload the final version by 27th August 2018 which must include the copyright notice to the bottom (in the footer, on the left side) of the first page (see the field indicated in the #[a(href="https://www.ieee.org/conferences/publishing/templates.html", target="_blank") IEEE template]). 
        
        .separador-1-half

        ol.lista-numerada.duas-colunas
          li For papers in which all authors are employed by the US government, the copyright notice is: “U.S. Government work not protected by U.S. copyright.”
          li For papers in which all authors are employed by a Crown government (UK, Canada, and Australia), the copyright notice is: 978-1-5386-6702-6/18/$31.00 ©2018 Crown
          li For papers in which all authors are employed by the European Union, the copyright notice is:  978-1-5386-6702-6/18/$31.00 ©2018 European Union 
          li.li-forte For all other papers the copyright notice is: 978-1-5386-6702-6/18/$31.00 ©2018 IEEE
        
        .separador-1
        p Remember to include, in accordance to the #[a(href="https://www.ieee.org/conferences/publishing/templates.html", target="_blank") IEEE template], the authors' names, affiliations and contact as well as any other acknowledgment that may have been omitted for the blind review process.




        //- h3.h-caps IEEE Copyright form




        h3.h-caps IEEE Xplore Digital Library
        p Mandatory conditions for accepted papers that have been presented at the conference to be published by the IEEE Xplore Digital Library:
        ol.lista-numerada
          li Before the Publishing Editor preparing the package for the IEEE Xplore Digital Library, TPC members will review the submitted final versions and will check if they address all possible comments and recommendations from the reviewers. 
          li The final manuscript must be an IEEE pdf express compatible file, and it must be uploaded at the EDAS platform. The EDAS checks if the pdf is IEEE Xplore compliant, and gives warning messages of possible compatibility problems. The IEEE Xplore compliant pdf can be generated in the IEEE PDF eXpress site set up for the SBFoton 2018. To use this facility please follow the instructions below. 
          li Make sure to sign and upload (EDAS system) the IEEE Copyright form.





        h3.h-caps Creating your PDF eXpress Account
        p Log in to the IEEE PDF eXpress TM site in #[a(href="http://www.pdf-express.org/", target="_blank") #{'http://www.pdf-express.org/'}].
        p First-time users should do the following:
        ul.buleted
          li Select the New Users – Click Here link.
          li 
            | Enter the following:
            p.
              > #[strong 44016X] for the Conference ID
              #[br] > your email address
              #[br] > a password
          li Continue to enter information as prompted.
          li An Online confirmation will be displayed and an email confirmation will be sent verifying your account setup.
        p Previous users of PDF eXpress need to follow the above steps, but should enter the same password that was used for previous conferences. Verify that your contact information is valid. Please note that the IEEE PDF eXpress site is only a facility to create or verify pdf files. After creating the pdf from the IEEE PDF eXpress site the author need to upload the pdf via EDAS.




        h3.h-caps Oral Presentations (Invited and Regular Papers)
        p The time slot for each presentation is:
        ul.buleted 
          li Invited papers: 30 min. (25 min. presentation and 5 min. discussion)
          li Regular oral papers: 20 min. (15 min. presentation and 5 min. discussion)
          
        p Session chairs are instructed to strictly limit the length of a presentation. We kindly ask the presenters their cooperation in keeping the schedule.

        p We ask the presenters to be at the room of their session 15 minutes before the session starts.

  +rodape('Tech Sessions')