include /_mixins

+menu('Tech Sessions')


//- .conteudo

.slide.s-default.s-var-3.pad
  .pure-g
    .pure-u-1
      h1 Tech Sessions
      ul.sub-menu
        li #[a(href="index.html") Instructions for authors]
        li.nav-atual #[a Oral sessions]
      p.soon


+rodape('Tech Sessions')