$brand: #009cde;
$light-brand: transparentize($brand, 0.75);
$conf-color-3: #b23f3c;
$conf-color-2: #5e3994;
$conf-color: #e0543c; //tomato; //rebeccapurple;
$conf-frente: white;

$c_rosa: #ffd4d5;
$c_laranja: #f7941e;
$c_verde: #00a79d;
$c_mix: #006112;

$rad-bot: 8px;

$c_menu: mix(black, #4772aa, 30%);

$w-menu: $u-h * 4;

$highlight: mix(#009cde, #0051e7);
$light_highlight: mix($highlight, white);
$dark_highlight: mix($highlight, black, 50%);
