@import 'reset.scss';
@import 'inter.scss';
@import 'min.scss';
@import "config.scss";


.only-sm {
	@include media-query-a-partir($s-sm) {
		display: none;
	}
}

body {
	padding-top: 4 * $u-h;
	font-feature-settings: 'ss01' 1, 'cv05' 1, 'cv08' 1, 'cpsp';

	&, h1, h2, h3, h4, h5, h6 {
		font-family: $fonte-texto, Helvetica, Arial, sans-serif;
	}
}

sup {
  font-feature-settings: "sups" 1;
  vertical-align: middle;
  font-size: unset;
	position: unset;
	text-transform: none;
	letter-spacing: 0;
}

.pequeno {
	@include fs(-1);
}

p + p, blockquote + p, ol + p, ul + p, p + h4, p + h5, p + h6 {
	margin-top: $u-h/2;
}

strong {
	font-weight: bold;
}

h2 {
	font-weight: 600;
	@include fs(3);
	margin-bottom: $u-h/2;
	.leve {
		display: block;
		@include fs(1);
		font-weight: 300;
	}
}

h2.conf {
	@include fs(4,1);
}

p + h2, h2 + h2, ul + h2, ol + h2 {
	margin-top: $u-h * 2;
}

p + h3, h3 + h3, ul + h3, ol + h3 {
	margin-top: $u-h/2;
}

h3 {
	@include fs(0);
	font-weight: 500;
	@include faux-caps;
}

h4 {
	margin-bottom: $u-h / 4;
	font-weight: bold;
}

h5 {
	font-style: italic;
}


.conteudo {
	& > .pure-g {
		margin-left: auto;
		margin-right: auto;
		padding-left: 1em;
		padding-right: 1em;
		max-width: $u-h * 20;
	}
}

@mixin colunas($n, $gap) {
	$p : percentage(1/ $n) - #{$gap * ($n - 1)/$n};
	grid-template-columns: repeat($n, calc(#{$p}));
}
.centraliza {
	text-align: center;
}

.grid-socios {
	margin-top: $u-h;
	display: grid;
	grid-gap: $u-h / 2;
	grid-template-columns: 1fr 1fr 1fr;
	@include media-query($s-sm) {
		grid-template-columns: 1fr 1fr;
	}
	.bloco-destaque.info {
		margin-top: 0;
		padding: $u-h/4 $u-h/2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.anuidade {
			padding-top: $u-h / 2;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				width: $u-h * 3;
				top: $u-h/8;
				left: 50%;
				transform: translateX(-50%);
				border-bottom: 1px solid cinza(8);
				mix-blend-mode: multiply;
			}
		}
	}
}

.c-blocos-destaque {
	.bloco-destaque {
		margin-top: $u-h;
		&.info {
			background: $light-brand;
		}
		.sub-socios {
			@include fs(-2,1);
			font-weight: 400;
			opacity: 0.666;
			mix-blend-mode: multiply;
		}
		&.acao {
			display: block;
			padding-left: $u-h / 4;
			padding-right: $u-h / 4;
			@extend .botao;
		}
		padding: $u-h/4 0;
	}
}

a {
	color: black;
	text-decoration-skip-ink: none;
	text-decoration-color: $highlight;
	&:hover {
		// text-decoration: none;
		background: $highlight;
		// background: transparentize($brand,0.75);
	}
}

blockquote {
	border-left: 2px solid cinza(5);
	padding: $u-h/9 $u-h * 2/3;
	margin: $u-h $u-h/2;
	@include fs(-1);
}


.logo {
	img {
		max-width: 240px;
	}
	margin-bottom: $u-h;
}

.conference-call {
	position: fixed;
	left: $u-h/2;
	top: $u-h/2;

	img {
		width: $u-h * 3;
	}

	&:hover {
		background: transparent;
	}
	z-index: 9;
}

@keyframes fade-in {
	from {
		opacity: 0;
		filter: grayscale(100%)
	}
	to {
		opacity: 1;
		filter: grayscale(0);
	}
}

.topics {
	li {
		padding: $u-h/2;
		background: $conf-color-2;
		@include sombra-2;
	}
	width: 100%;
  display: grid;
	grid-gap: $u-h/2;
  grid-auto-flow: row;
	padding: $u-h/2;
	box-sizing: border-box;
	margin-bottom: $u-h;


	@include media-query {
		@include colunas(2, $u-h/2);
		li {
			@include fs(-1);
		}
	}

	@include media-query-a-partir($s-md) {
		@include colunas(3, $u-h/2);
	}

	@include media-query-a-partir($s-md) {
		@include colunas(4, $u-h/2);
	}

	@include media-query-a-partir($s-lg) {
		padding: $u-h;
		@include colunas(6, $u-h/2);
	}
	
	@include media-query-a-partir($s-xl) {
		@include colunas(8, $u-h/2);
	}

}	

#rodape {
	background: cinza(9);
	padding: $u-h 0 $u-h * 2;
	@include media-query {
		.pure-u-md-1-2 {
			margin-bottom: $u-h;
		}
	}
	p {
		@include fs(-1);
	}
	.logos {
		a {
			padding: 0;
			display: block;
		}
		img {
			margin-top: $u-h/3;
			max-width: 100%;
		}
	}
}

.lista-generica {
	margin: $u-h/4 0;
	@include media-query($s-md) {
		list-style-position: inside;
	}
	&.duas-colunas {
		@include media-query-a-partir($s-md) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-row-gap: $u-h/4;
			grid-column-gap: $u-h;
		}	
	}
	
	p {
		margin-left: 1ex;
		margin: $u-h / 4 1ex;
	}

	.li-forte {
		font-weight: bold;
	}
}

.lista-numerada {
	@extend .lista-generica;

	list-style: none;
	counter-reset: contador-lista;
	li {
		counter-increment: contador-lista;
		&:before {
			font-weight: normal;
			@include fs(-2);
			// só funciona com listas de até 9 itens
			margin-left: -2ex;
			margin-right: 1ex;
			content: counter(contador-lista) "";
		}
	}

}

.buleted {
	list-style-type: disc;
	@extend .lista-generica;
}


table {
	width: 100%;
	text-align: left;
	padding: 0;
	margin-bottom: $u-h * 2;

	@include fs(-1);
	small {
		@include fs(-2);
	}

	td, th {
		padding: $u-h/4 0 $u-h/8;
	}
	td {
		border-bottom: 1px solid mix($highlight, $color-A);
	}
	th {
		border-bottom: 2px solid white;
	}

	&.fees {
		td:first-child, th:first-child {
			width: percentage(1/2);
		}
		td:not(:first-child), th:not(:first-child) {
			width: percentage(1/4);
			padding-right: $u-h/2;
			padding-left: $u-h/2;
		}

		.there-be-prices td:not(:first-child), tr th:not(:first-child) {
			font-feature-settings: 'tnum', 'ss01';
			
			.invisible-zeros {
				opacity: 0;
			}
			.money {
				opacity: 0.6;
				@include fs(-2);
			}
		}
	}
}

.sub-row-header {
	background: $highlight;
	color: white;
	mix-blend-mode: normal;
	td {
		padding-left: $u-h/6;
		padding-bottom: 5px;
		@include faux-caps;
		@include fs(-1,1);
	}
}

span.note {
	font-weight: 500;
	vertical-align: super;
	@include fs(-2);
	font-feature-settings: 'case';
}

table {
	& ~ .legenda-tabela {
		mix-blend-mode: multiply;
	}
	& ~ .legenda-tabela {
		margin-top: -$u-h * 2;
		padding-top: $u-h;
		margin-bottom: $u-h * 2;
		position: relative;
		color: cinza(4);
		@include fs(-2);
	}
}

.botao {
	background: $brand;
	border-radius: $rad-bot;
	color: white;
	& > * {
		text-align: center;
		color: white;
		font-weight: bold;
	}
	a {
		text-decoration: none;
		&:hover {
			background: transparent;
		}
	}
	
	&:hover {
		background: black;
	}

}

.box {
	@extend .botao;
	margin-bottom: $u-h * 2;
	.newsletter {
		padding: $u-h/2 0;
		@include fs(1);
	}
}

.grid-logos {
	display: grid;
	grid-gap: $u-h / 2;
	grid-template-columns: repeat(3, 1fr);
	@include media-query($s-sm) {
		grid-template-columns: repeat(2, 1fr);
	}

	h3 {
		grid-column: 1 / span 3;
		@include media-query($s-sm) {
			grid-column: 1 / span 2;
		}
	}

	.logo {
		background: white;
		display: flex;
		justify-content: center;
		align-items: center;

		border-bottom: $u-h/8 solid transparent;
		img { 
			width: 100%;
		}
		&.fake-cut {
			padding: $u-h * 2/3;
		}
		&:hover {
			border-bottom-color: $brand;
		}
	}
}


.diretoria {
	.c-membros {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		@include media-query($s-sm) {
			grid-template-columns: 1fr 1fr;
		}
		grid-gap: $u-h/2;
		margin: $u-h/2 0 $u-h;
		.membro {
			h5 {
				color: cinza(3);
			}
			background: cinza(9.5);
			@include fs(-2);
			padding: $u-h/2;
		}
	}
}




//////////// 

#toggle {
	display: none;
}
#hamburger {
	@include media-query-a-partir($s-sm) {
		display: none;
	}
	@include fs(0);
	font-weight: 500;
	background: transparent;
	position: fixed;
	right: 0;
	top: 0;
	&:after {
		position: absolute;
		right: 3px;
		top: 6px;
		transform-origin: bottom right;
		transform: rotateZ(-90deg) translateX(40%);
		content: 'menu';
		@include faux-caps;
	}
}
#toggle:not(:checked) {
	@include media-query($s-sm) {
		& ~ #menu-geral {
			display: none !important;
		}
	}
}
#toggle:checked {
	& ~ #hamburger {
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		transform: none;
		z-index: 1;
		&:before {
			content: "";
			position: absolute;
			background: $dark_highlight; 
			mix-blend-mode: multiply;
			opacity: 0.9;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
		&:after {
			// font-family: Fontawesome;
			content: "close";
			color: white;
			mix-blend-mode: normal;
		}
	}
}

#menu-geral {

	a {
		text-decoration: none;
		&:hover {
			background: unset;
		}
	}
	
	background: $c_menu;
	position: fixed;
	left: 0;

	z-index: 100;
	top: 0;
	bottom: 0;

	width: $w-menu;
	box-sizing: border-box;

	@include media-query($s-sm) {
		right: 50%;
		min-width: $u-h * 6;
		width: unset;
	}

	display: flex;
	justify-content: space-between;
	flex-direction: column;

	#menu-spacer {
		flex-grow: 1;
	}
	
	
	#logo-menu-geral {
		margin: $u-h / 2;
		text-align: center;
		img {
			width: $w-menu - $u-h;
		}

		.date-logo {
			@include fs(-1,1.3);
			display: block;
			opacity: 0.666;
			margin-top: $u-h/3;
			color: white;
		}


		@media screen and ( max-height: 480px) {
			img {
				width: $w-menu - $u-h*2;
			}
			.date-logo {
				@include fs(-3,1.3);
				margin-top: $u-h/5;
			}
		}
	}

	#c-menu {
		padding-top: $u-h / 4;

		#toggle, .toggle-container {
			display: none;
		}

		@media screen and ( max-height: 480px) {
			#menu {
				overflow-y: scroll;
				max-height: calc(100vh - 200px);
				background: gray(4);
				border-bottom: 2px solid cinza(2);
				li + li {
					border-top: 1px solid cinza(2);
				}
			}
		}

		li {

			
			a {

				@include fs(0,1.3);
				text-transform: lowercase;

				display: block;
				padding: $u-h * 2/5 $u-h / 2;
				@include media-query($s-sm) {
					padding: $u-h / 3;
				}

				@media screen and (max-height: 680px) and (min-width: $s-sm) {
					padding-top: $u-h / 3;
					padding-bottom: $u-h / 3;
				}

				@media screen and (max-height: 600px) and (min-width: $s-sm) {
					padding-top: $u-h / 4;
					padding-bottom: $u-h / 4;
					@include fs(-1,1.3);
				}

				color: white;
				opacity: 0.666;

				&.registration_link {
					color: $highlight;
					background: cinza(1);
					opacity: 1;
				}
				
				@include media-query($s-sm) {
					@include fs(-1,1.3);
				}

				@at-root #menu-geral #c-menu .nav-atual a, &:hover {
					background: $color-A !important;
					color: cinza(2) !important;
					opacity: 1;
				}

				@at-root #menu-geral #c-menu .nav-atual a {
				}
			}
			
		}

	}

	#link-sociedade {
		padding: $u-h / 2;
		opacity: 0.4;
		line-height: 0;
		text-align: center;
		&:hover {
			background: black;
			opacity: 1;
		}
		img {
			$ajuste-opt : 3px;
			width: calc(100% + #{$ajuste-opt});
			position: relative;
			left: -$ajuste-opt;
		}

		@media  screen and (max-height: 480px), screen and (max-width: $s-sm) {
			img {
				max-width: $u-h * 3;
			}
		}
	}
	

}


body {
	min-height: 100vh;
	box-sizing: border-box;

	// considerando o menu vertical!
	&:not(.sbfoton) {
		padding: 0 0 0 $w-menu;
		@include media-query($s-sm) {
			padding-left: 0;
		}
	}
	
}




#logo-home {

	margin: 0 0 $u-h 0;
	width: 100%;
	max-width: $u-h * 6;
	margin-left: auto;
	margin-right: auto;
	display: block;
	@include media-query-a-partir($s-sm) {
		display: none;
	}
}

.s-default {
	padding-top: $u-h;
	background-color: $color-A;
}

$c1 : mix($c_verde, black, 50%);
$c2 : mix($c1, black, 90%);
$c3 : mix(white,$c2, 80%);

.sc-schedule {
	background: $c1;
	color: white;
}

.s-schedule {
	padding-top: $u-h;

	h2 {
		@include faux-caps;
		@include fs(1);
		font-weight: 300;
		color: mix(white, $c1, 50%);
	}

	h3 {
		margin-bottom: $u-h / 2;
	}

	.schedule-block {
		margin-bottom: $u-h;
	}

	.schedule-item {
		display: block;

		
		&.sched-plen, &.sched-other-act {
			background: mix($c2, black, 80%);
		}
		&.sched-tech-session {
			background: $c2;
			// background: mix($c2, $c_verde);
		}
		&.sched-short-course {
			background: $c2;
		}
		
		padding-top: $u-h/3;
		padding-bottom: $u-h/3;

		display: flex;
		align-items: center;

		& + .schedule-item {
			margin-top: 1px;
		}

		text-decoration: none;
		color: white;
		opacity: 0.8;
		&:hover {
			opacity: 1;
			background: white;
			p {
				color: mix($c_verde,black) !important;
			}
		}

		p {
			box-sizing: border-box;
			padding-right: $u-h;
			& + p {
				margin: 0;
			}
		}

		.sched-cod, .sched-tip, .sched-all {
			color: $c3;
		}
		.sched-cod {
			@include fs(-3, 1.2);
			width: 15%;
		}
		.sched-tip {
			@include fs(-2, 1.2);
			width: 15%;
		}

		.sched-all {
			@include fs(-2, 1.2);
			width: 20%;
		}
		.sched-nom {
			@include fs(-1, 1.4);
			width: 50%;
			white-space: nowrap; 
			overflow: hidden;
			text-overflow: ellipsis;
			&.sched-plen {
				width: 65%;
			}
			&.sched-other {
				width: 80%;
			}
		}

		@include media-query($s-lg) {

			margin: $u-h/4;
			padding: $u-h/2;
			border: none;
			border-radius: 2px;

			flex-wrap: wrap;
			.sched-cod, .sched-tip, .sched-all, .sched-nom {
				width: 100%;
			}
			.sched-tip {
				padding-top: $u-h/4;
				@include fs(-1, 1.4);
			}
			.sched-nom {
				padding: $u-h/4 0;
				white-space: unset;
				overflow: unset;
			}
		}

	}


}


.slide-destaques {

	padding-top: $u-h * 2;

	@include media-query($s-sm) {
		background-image: none;
	}

	h1 {
		color: $highlight;
	}
	
	h3 {
		color: white;
		font-weight: 900;
	}

	.grade {
		display: grid;
		grid-gap: $u-h / 2;

		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 1fr;

		@include media-query($s-lg) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-query($s-md) {
			grid-template-columns: repeat(1, 1fr);
		}
	
		.g-item {
			background: $brand;
			padding: $u-h;

			@include media-query($s-sm) {
				padding: $u-h / 3;
			}
			
			&.g-img {

				@at-root {
					a.g-img:hover {
						&:after {
							content: "";
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
							mix-blend-mode: multiply;
							border: 2px solid $dark_highlight;
						}
					}
				}
				
				.hacky-spacer {
					width: 0;
					padding-bottom: 100%;
				}


				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: absolute;
					top: 0;
					left: 0;
				}

				padding: 0;
				line-height: 0;

				position: relative;
				transform: rotate(0deg);

				.dados-speaker {
					position: absolute;
					left: $u-h / 3;
					right: $u-h;
					bottom: $u-h / 3;
					padding-bottom: $u-h / 8;

					&:before {
						content: "";
						position: fixed;
						left: 0;
						right: 0;
						bottom: 0;
						height: $u-h * 4;

						background: linear-gradient(
							transparent,
							transparentize($dark_highlight, 0.25)
						);
						mix-blend-mode: multiply;
						z-index: 0;
					}

					.speaker-default-text-style {
						color: white;
						@include fs(-1,1.2);
						position: relative;
						z-index: 1;
						margin: 0;
						font-weight: 400;

					}
					h2 {
						margin-top: 0.5em;
						font-style: italic;
					}
					.origem {
						@include fs(-2);
						opacity: 0.75;
						@include faux-caps;
					}
					p, h2 {
						@extend .speaker-default-text-style;
					}
				}
			}
		}
	}

}



.slide.logos-rodape {
	padding-top: $u-h;
	padding-bottom: $u-h / 8;
	min-height: unset;

	background: cinza(10);

	h4,h3 {
		font-weight: 400;
	}
	h4 {
		margin-top: $u-h/4;
		margin-bottom: $u-h/3;
		color: cinza(6);
	}
	h3 {
		color: cinza(3);
		margin-bottom: $u-h/4;
	}

	.logo-category.sponsors {
		@include media-query-a-partir($s-md) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: $u-h;
			h3 {
				grid-column: 1 / span 2;
			}
		}
	}

	.logo-category {
		& + .logo-category {
			margin-top: $u-h/2;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -$u-h * 2/3;
				border-top: 1px solid cinza(8);
			}
		}
		.logo-container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom: $u-h/4;
		}
		.conf-logo {
			margin-right: $u-h;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				background: none;
			}
			img {

				// pequeno ajuste ótico
				position: relative;
				left: -3px;

				margin-bottom: $u-h;
				mix-blend-mode: multiply;
				$s : $u-h * 1.3;
				height: $s;
				&.adj1 {
					height: $s * .8;
				}
				&.adj2 {
					height: $s * .6;
				}
			}
		}

	}

}



.reg-but {

	@include fs(4);
	
	@include media-query($s-sm) {
		@include fs(3);
	}
	
	text-decoration: none;
	background: $highlight;
	color:  white;
	padding: $u-h/3 $u-h;

	border-radius: 4px;
	display: inline-block;

	&:hover {
		color: white;
		background: black;
	}
}

#intro-conf {
	padding-top: $u-h;
	padding-bottom: $u-h;
	display: grid;

	@include media-query-a-partir($s-lg) {
		grid-template-columns: 5fr 1fr 2fr;
		#hero {
			grid-column: 1;
			grid-row: 1 / span 2;
		}
		#registration {
			grid-column: 3;
			grid-row: 1;
		}
		#notices {
			grid-column: 3;
			grid-row: 2;
		}
	}
	@include media-query($s-lg) {
		grid-template-columns: 1fr;
		grid-gap: $u-h;
		#registration {
			grid-row: 1;
		}
		#hero {
			grid-row: 2;
		}
		#notices {
			grid-row: 3;
		}
	}

}

#hero {

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;

		@include media-query-a-partir($s-lg) {
			.separador-visivel-2, h2, p {
				max-width: 44ch;
			}
		}
	
		h2 {
			@include fs(5, 1.1);
			margin-bottom: $u-h;
			font-weight: 500;
			@include media-query($s-sm) {
				@include fs(4, 1.2);
			}
		}
	
		p, .separador-visivel-2 {
			@include fs(1);
		}
	}


#registration {
	
  a#reg-but {
		@extend .reg-but;
	}
	
	p {
		margin-top: $u-h / 2;
		@include fs(0);
		& + p {
			margin-top: $u-h / 4; // half of usual distance.
		}
	}
}

#notices {
	align-self: end;

	.notice {
		h3, p, a {
			@include fs(0,1.4);
		}

		@include media-query($s-lg) {
			.desktop-br {
				display: none;
			}
		}
		
		h3 {
			color: $highlight;
			margin-bottom: $u-h/2;
		}
	}

}

.slashed-zero {
	font-feature-settings: 'zero' 1;
}


.lista-padrao {
	list-style: square;
	margin-top: $u-h / 4;
	margin-bottom: $u-h / 2;
	margin-left: $u-h / 4;
}

.sub-menu {
	margin-top: $u-h;
	margin-bottom: $u-h;
	display: flex;

	@include media-query($s-md) {
		flex-direction: column;
		li {
			margin-bottom: $u-h / 2;
		}
	}
	li {
		margin-right: $u-h * 2/3;		
		@include media-query($s-md) {
			margin-right: 0;
		}
		&:last-child {
			margin-right: 0;
		}

		a {

			display: block;

			@include fs(-1);
			@include media-query($s-md) {
				@include fs(-2,1.2);
			}
			@include faux-caps;
			text-decoration: none;
			font-weight: 500;
			opacity: 0.4;
			@at-root .sub-menu li.nav-atual a, &:hover {
				background: unset;
				opacity: 1;
			}
			@at-root .sub-menu li.nav-atual a {
				@include fs(0);
				@include media-query($s-md) {
					@include fs(-2,1.2);
				}
				background: $highlight;
				text-align: center;
				color: white;
				padding: $u-h/4 $u-h/2;
				@include media-query-a-partir($s-md) {
					position: relative;
					top: -$u-h/3;
				}

				@include media-query($s-md) {
					width: 100%;
					display: block;
					box-sizing: border-box;
				}
			}
		}
	}
}

.h-caps {
	@include fs(2, 1.2, true);
	font-weight: 500;
	margin-bottom: $u-h / 2;
	margin-top: $u-h * 2;
}


.chairs {

	.chair {
		& + .chair {
			margin-top: $u-h * 3;
		}
	}

	h3 {
		@extend .h-caps;
		margin: $u-h 0;
	}

	.c-membros {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include media-query($s-lg) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include media-query($s-md) {
			grid-template-columns: repeat(1, 1fr);

		}
		grid-gap: $u-h;

	}
}

.template-nome-autor {

	@include faux-caps;
	@include fs(0,1.2);
	margin-top: $u-h / 4;
	font-weight: 500;

}

.template-instituicao {
	margin-top: -4px;
	mix-blend-mode: multiply;
	opacity: 0.7;
	&, a {
		margin-top: $u-h/4;
		@include fs(-2,1);
	}
}

.template-bio {

	@include fs(-2);
	hyphens: auto;
}


.membro {
	background: transparent;
	padding: 0;


	img {
		width: 100%;
	}

	.nome {
		@extend .template-nome-autor;
	}
	.instituicao {
		@extend .template-instituicao;
	}

	.bio {
		@extend .template-bio;
	}
}

.c-trabalhos {
	margin-top: $u-h;
	.trab-dia {

		& + .trab-dia {
			margin-top: $u-h * 4;
		}

		.sessao + .sessao {
			position: relative;
			&:before {
				position: absolute;
				content: "";
				left: 0;
				top: 0;
				width: $u-h * 6;
				@include media-query($s-sm) {
					width: 100%;
				}
				border-top: 6px solid $highlight;
			}
			margin-top: $u-h * 3;
			padding-top: $u-h * 2/3;
		}

		.head-cod {
			display: flex;
			position: relative;
			z-index: 1;
			align-items: center;
			margin-bottom: $u-h / 4;

			.schedule-back {
				margin-left: $u-h/2;
				top: 3px;
			}
			
			@include media-query($s-sm) {
				flex-wrap: wrap;
				flex-direction: column-reverse;
				.c-nav {
					width: 100%;
					margin-bottom: $u-h / 2;
				}
				.trab-cod-sessao {
					width: 100%;
					margin-bottom: $u-h / 8;
				}
				.schedule-back {
					margin-left: 0;
				}
			}
			
			
			.session-nav {
				border-radius: 3px;
				padding: $u-h/12 $u-h/2 $u-h/8;

				user-select: none;

				border: 1px solid $highlight;
				
				@include fs(-1);
				text-decoration: none;
				color: $highlight;

				&:hover {
					border-color: white;
					background: white;
				}

				&.disabled {
					opacity: 0.2;
					&:hover {
						border-color: $highlight;
						background: transparent;
					}
				}
			
			}
			
			
			.schedule-back {
				@extend .session-nav;
				border-color: $timetable-color;
				color: $timetable-color;
			}
			
			.trab-nav {
				margin-left: $u-h/4;
				
				@extend .session-nav;
			}
		}

		.trab-cod-sessao {
			@include fs(-2);
			@include faux-caps;
			
			&.forte {
				opacity: 1;
				font-weight: bold;
				margin-bottom: $u-h/8;
			}

		}

		.header-sessao {

			p + p {
				margin: 0;
			}

			@include media-query($s-sm) {
				.schedule-back {
					display: block;
					text-align: center;
					top: 0;
					padding: 2px 0 0 0;
					margin-bottom: $u-h/4;
				}
			}

			.trab-topico-sessao {
				display: block;
				@include fs(4,1);
				font-weight: 700;
				@include media-query($s-sm) {
					@include fs(2,1);
				}
			}
			.trab-horario-sessao {
				margin-top: $u-h / 4;
				margin-bottom: -$u-h;
			}
		}

		.trab-codigo {
			visibility: hidden;
		}

		.trab-data {
			@extend .h-caps;
			@include faux-caps;
			mix-blend-mode: normal;
			font-weight: bold;
		}

		.trab-chair {
			font-weight: bold;
			&:before {
				content: "Chairs";
				@include faux-caps;
				@include fs(-1);
				font-weight: 400;
				padding-right: $u-h/4;
			}
			&.os-chair {
				margin-top: $u-h/2;
				&:before {
					content: "Chair";
				}
			}
		}

		.trabalho {
			position: relative;
			margin-top: $u-h * 2;
			&:nth-child(2) { //o first é o título do dia
				margin-top: $u-h * 1;
			}
			padding-left: $u-h * 2;
			padding-top: $u-h * 2 / 3;

			&:after {
				content: "";
				width: $u-h * 6;
				position: absolute;
				left: 0;
				top: 0;
				border-top: 2px solid $highlight;
				@include media-query($s-sm) {
					width: 100%;
				}
			}

			display: grid;
			grid-template-columns: 5fr 1fr;
			@include media-query($s-md) {
				grid-template-columns: 1fr;
				padding-left: 0;
			}
			@include media-query-a-partir($s-xl) {
				grid-template-columns: 2fr 1fr;

			}
			@include media-query-a-partir($s-xxl) {
				grid-template-columns: 3fr 2fr;
			}
			@include media-query-a-partir($s-xxxl) {
				grid-template-columns: 4fr 3fr;
			}
			grid-gap: $u-h;

			.trab-lista-autores {
				font-weight: 400;
				@include fs(1);
			}
			.trab-autores {
				padding-left: $u-h;
				@include media-query($s-md) {
					padding-left: 0;
				}
			}

			.trab-horario {
				&.trab-horario-os {
					span:not(.dados-sutis) {
						position: absolute;
						transform: translateX(-150%) translateY(25%);
						@include fs(-3);
					}
				}
			}

			.trab-ind {

				position: absolute;
				@include media-query($s-md) {
					position: static;
					max-width: 50%; // bug estranho que causa scroll horizontal quando vc redimensiona (mas não quando a tela começa pequena!)
				}
				left: 0;
				top: $u-h * 3 / 5;
				&.ind-oral {
					top: $u-h * 8 / 5;
				}
				font-weight: 400;
				opacity: 0.6;
				mix-blend-mode: multiply;
				@include fs(6);
				
				@include media-query($s-md) {
					// opacity: 1;
					font-weight: 400;
					margin-bottom: $u-h/8;
				}
			}

			.trab-titulo {
				margin-top: 0;
				@include fs(3);
				font-weight: 500;
				color: $highlight;
				@include media-query($s-sm) {
					@include fs(2);
				}
			}

			.trab-link {
				position: relative;
				z-index: 2;
				@include fs(-1);
				@include faux-caps;
				font-weight: bold;
			}

			.trab-horario {
				@include fs(-1);
				mix-blend-mode: multiply;
				opacity: 0.7;
			}

			.trab-resumo {
				@include fs(-1);
				hyphens: auto;
				@include media-query-a-partir($s-sm) {
					&.resumo-p {
						@include fs(1);
					}
					&.resumo-m {
						@include fs(0);
					}
				}
			}

			.trab-temas {
				margin-top: $u-h / 3;
				display: flex;
				flex-wrap: wrap;
				li {
					font-style: italic;
					mix-blend-mode: multiply;
					opacity: 0.5;
					margin-right: $u-h/3;
					&:last-child {
						margin-right: 0;
					}
				}
			}

			.trab-autores {
				.trab-autor {
					margin-top: $u-h / 2;
					margin-bottom: $u-h;
					.trab-a-img {
						border-radius: 50%;
						max-width: $u-h * 3;
					}

					.trab-a-nome {
						@extend .template-nome-autor;
						max-width: 30ch;
					}
					.trab-a-inst {
						@extend .template-instituicao;
					}

					.trab-a-bio {
						@extend .template-bio;
						margin-top: $u-h / 6;
						max-width: 44ch;
						hyphens: manual;
					}

				}
			}
		}
	}
}

.dados-sutis {
	opacity: 0.444;
	transition: opacity 2s ease;
	&:hover {
		opacity: 1;
	}
}




.c-timetable {
	margin-top: $u-h;

	background : $timetable-color;
	padding-bottom: $u-h;
	padding-top: $u-h;

	color: white;

	.timetable {
		@include media-query-a-partir($s-sm) {
			display: flex;
		}
		.timetable-day {

			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0;
			
			@include media-query-a-partir($s-sm) {
				max-width: $u-h * 8;
				margin-right: $u-h;
				&:last-child { margin-right: 0; }
			}
			@include media-query($s-sm) {
				width: 100%;
				& + .timetable-day {
					margin-top: $u-h * 3/2;
				}
			}


			display: flex;
			flex-direction: column;

			.timetable-session {

				color: white;
				text-decoration: none;
				background: rgba(255,255,255,0.05);
				border-radius: 2px;
				&:hover {
					background: white;
					color: $timetable-color;
				}

				p + p {
					margin: 0;
				}
				.tim-i-session {
					@include fs(-3);
					font-weight: bold;
					@include faux-caps;
					opacity: 0.5;
				}
				.tim-i-nome {
					@include fs(-1);
				}
				.tim-i-sala {
					margin-top: 4px;
					opacity: 0.75;
					@include fs(-2);
				}

				padding: $u-h / 2;
				& + .timetable-session {
					margin-top: $u-h / 4;
				}
			}

		}
	}


}

.soon {
	margin-top: $u-h * 1;
	@include fs(3);
	&:after {
		content: "...soon";
	}
}

.c-group-leader {
	width: 100% + #{$u-h/2} + 2px;
	padding: $u-h/4;
	position: relative;
	left: -$u-h/4;
	border-radius: $u-h/6;
	background: $light_highlight;

}

.group-leader {
	opacity: 0.666;
	@include faux-caps;
	@include fs(-3);
	font-weight: bold;
	margin-bottom: -$u-h/6;
}


.map-responsive{
	overflow:hidden;
	padding-bottom: percentage(.5625/2);
	@include media-query($s-lg) {
		padding-bottom: percentage(.5625);
	}
	@include media-query($s-sm) {
		padding-bottom: percentage(1);
	}
	position:relative;
	height: 0;
}

.video-responsive {
	@extend .map-responsive;
	padding-bottom: percentage(2/3);
}


.map-responsive iframe, .video-responsive iframe{
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	position:absolute;
}


#hotels {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	@include media-query-a-partir($s-xxxl) {
		grid-template-columns: repeat(6, 1fr);
	}
	@include media-query($s-xl) {
		grid-template-columns: repeat(3, 1fr);
	}
	@include media-query($s-lg) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include media-query($s-sm) {
		grid-template-columns: repeat(1, 1fr);
	}
	grid-column-gap: $u-h;
	grid-row-gap: $u-h * 2;
}

.hotel {
	h3 {
		@include faux-caps;
		@include fs(0, 1.2);
		margin-bottom: $u-h / 4;
	}
	.pequeno {
		display: inline-block;
		margin-top: $u-h/4;
	}
}