@import 'reset.scss';
@import 'inter-ui.scss';
@import 'min.scss';


$brand: #009cde;
$light-brand: transparentize($brand,0.75);
$conf-color-3: #b23f3c;
$conf-color-2: #5e3994;
$conf-color: #e0543c;//tomato; //rebeccapurple;
$conf-frente: white;




$c_rosa: #ffd4d5;
$c_laranja: #f7941e;
$c_verde: #00a79d;
$c_mix: #006112;

$rad-bot: 8px;


.only-sm {
	@include media-query-a-partir($s-sm) {
		display: none;
	}
}

body {
	font-family: $fonte-texto, sans-serif;
	padding-top: 4 * $u-h;
}

p + p, blockquote + p, ol + p, ul + p {
	margin-top: $u-h/2;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fonte-texto, sans-serif;
}

h2 {
	font-weight: 900;
	@include fs(4);
	margin-bottom: $u-h/2;
	.leve {
		display: block;
		@include fs(1);
		font-weight: 300;
	}
}

h2.conf {
	@include fs(4,1);
	color: $c_laranja;
	mix-blend-mode: multiply;
}

p + h2, h2 + h2, ul + h2, ol + h2 {
	margin-top: $u-h * 2;
}

p + h3, h3 + h3, ul + h3, ol + h3 {
	margin-top: $u-h/2;
}

h3 {
	@include fs(-1);
	font-weight: bold;
	@include faux-caps;
}

h4 {
	@include fs(-1,1.2);
	margin-bottom: $u-h / 4;
	font-weight: bold;
}


.conteudo {
	& > .pure-g {
		margin-left: auto;
		margin-right: auto;
		padding-left: 1em;
		padding-right: 1em;
		max-width: $u-h * 20;
	}
}

@mixin colunas($n, $gap) {
	$p : percentage(1/ $n) - #{$gap * ($n - 1)/$n};
	grid-template-columns: repeat($n, calc(#{$p}));
}
.centraliza {
	text-align: center;
}

.grid-socios {
	margin-top: $u-h;
	display: grid;
	grid-gap: $u-h / 2;
	grid-template-columns: 1fr 1fr 1fr;
	@include media-query($s-sm) {
		grid-template-columns: 1fr 1fr;
	}
	.bloco-destaque.info {
		margin-top: 0;
		padding: $u-h/4 $u-h/2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.anuidade {
			padding-top: $u-h / 2;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				width: $u-h * 3;
				top: $u-h/8;
				left: 50%;
				transform: translateX(-50%);
				border-bottom: 1px solid cinza(8);
				mix-blend-mode: multiply;
			}
		}
	}
}

.c-blocos-destaque {
	.bloco-destaque {
		margin-top: $u-h;
		&.info {
			background: $light-brand;
		}
		.sub-socios {
			@include fs(-2,1);
			font-weight: 300;
		}
		&.acao {
			// border: 2px solid cinza(9);
			display: block;
			padding-left: $u-h / 4;
			padding-right: $u-h / 4;
			// text-decoration: none;
			// border-radius: $rad-bot;
			&:hover {
				// background: transparentize($brand,0.75);
				// border-color: transparentize($brand,0.75);
			}
			@extend .botao;
			// background: cinza(10);
		}
		padding: $u-h/4 0;
	}
}

a {
	color: black;
	text-decoration-skip: ink;
	text-decoration-color: $brand;
	&:hover {
		text-decoration: none;
		background: transparentize($brand,0.75);
	}
}

blockquote {
	border-left: 2px solid cinza(5);
	padding: $u-h/9 $u-h * 2/3;
	margin: $u-h $u-h/2;
	@include fs(-1);
}


.logo {
	img {
		max-width: 240px;
		// @include media-query-a-partir {
		// 	position: relative;
		// 	left: -12px;
		// }
	}
	margin-bottom: $u-h;
}

.popin {
	display: none;
}

.popin.popin-visivel {
	display: block;
}

.popin {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 20vh;
	background: url(/img/fundos/s_invited.svg), linear-gradient($c_laranja, darken($c_laranja,15%));
	background-size: 100vh, cover;
	// @include texto-sombra-0($conf-color);
	color: $conf-frente;
	z-index: 10;
	overflow-y: scroll;

	#logo-conf {
		width: calc(#{$u-h * 4} + 10vmin);
	}
	
	& > div {
		cursor: pointer; // para indicar que o clique na área colorida faz algo...
	}

	.fundo-botao-popin {
		position: fixed;
		bottom: 0;
		top: 80vh;
		left: 0;
		right: 0;
		cursor: default; // só para dar um override na regra acima
	}

	a {
		color: $conf-frente;
		@include fs(3);
		margin-top: $u-h/2;
		float: left;
		margin-right: $u-h * 2;
		color: $conf-frente;
		transition: all 0.2s ease-in;
		font-weight: bold;
		text-decoration: underline;
		text-decoration-color: rgba(255,255,255,0.5);
		&:hover {
			background: none;
			text-decoration-color: white;
		}
	}

	.where-when {
		@include fs(3);
	}


	@include media-query {
		a, .where-when {
			@include fs(1);
		}
	}

	.conteudo .pure-g {
		min-height: 80vh;
		display: flex;
		// como row não estava centrando no ffox
		flex-direction: column;
		justify-content: center;
	}



	h1 {
		// margin-left: $u-h * 2;
		@include fs(7,1);
		@include media-query($s-sm) {
			@include fs(3,1.3);
		}
		font-weight: bold;
		margin-bottom: $u-h;
	}

	#fecha-popin {
		position: fixed;
		bottom: 10vh;
		left: 50%;
		transform: translateX(-50%) translateY(50%);
		background: black;
		padding: 12px $u-h * 3/2;
		border-radius: 80px;
		color: white;
		border: none;
		@include fs(2);
		@include media-query {
			@include fs(1);
		}
		font-weight: bold;
		&:hover {
			background: $brand;
		}
	}
}

.conference-call {
	position: fixed;
	left: $u-h/2;
	top: $u-h/2;

	img {
		width: $u-h * 3;
	}

	&:hover {
		background: transparent;
	}
	z-index: 9;
}



body.popado {
	.conference-call {
		transition: all 0s;
		opacity: 0;
	}

	& > *:not(.popin) {
		filter: blur(7px);
		opacity: 0.5;
		cursor: pointer;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		filter: grayscale(100%)
	}
	to {
		opacity: 1;
		filter: grayscale(0);
	}
}

body.home.popado {
	animation: fade-in 1s ease-in-out;
}

body.conference {
	background-color: $conf-color;
	background-image: url('../img/fundo-conf.svg');
	background-size: contain;
	background-repeat: repeat-y;
	padding-bottom: $u-h * 4;
	color: white;
	padding-bottom: 0;
	@include media-query {
		background-size: 400vw;
	}
	a {
		color: white;
		// text-decoration-color: $conf-color-2;
		text-decoration: none;

		color: white;
		background: $conf-color-2;
		&:hover {
			background: white;
			color: $conf-color-2;
		}
	}
}



.topics {
	li {
		padding: $u-h/2;
		background: $conf-color-2;
		@include sombra-2;
	}
	width: 100%;
  display: grid;
	grid-gap: $u-h/2;
  grid-auto-flow: row;
	padding: $u-h/2;
	box-sizing: border-box;
	margin-bottom: $u-h;


	@include media-query {
		@include colunas(2, $u-h/2);
		li {
			@include fs(-1);
		}
	}

	@include media-query-a-partir($s-md) {
		@include colunas(3, $u-h/2);
	}

	@include media-query-a-partir($s-md) {
		@include colunas(4, $u-h/2);
	}

	@include media-query-a-partir($s-lg) {
		padding: $u-h;
		@include colunas(6, $u-h/2);
	}
	
	@include media-query-a-partir($s-xl) {
		@include colunas(8, $u-h/2);
	}

}	


#voltar {
	position: fixed;
	left: $u-h/2;
	top: $u-h/2;
	background: $brand;
	padding: $u-h/4;
	color: white;
	@include sombra-1;
	@include fs(3,0);
	text-decoration: none;
	color: white;
	z-index: 9;
	&:hover {
		background: black;
	}
}

#rodape {
	background: cinza(9);
	padding: $u-h 0 $u-h * 2;
	@include media-query {
		.pure-u-md-1-2 {
			margin-bottom: $u-h;
		}
	}
	p {
		@include fs(-1);
	}
	.logos {
		a {
			padding: 0;
			display: block;
		}
		img {
			margin-top: $u-h/3;
			max-width: 100%;
		}
	}
}

.lista-generica {
	margin: $u-h/4 0;
	@include media-query($s-md) {
		list-style-position: inside;
	}
	&.duas-colunas {
		@include media-query-a-partir($s-md) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-row-gap: $u-h/4;
			grid-column-gap: $u-h;
		}	
	}
	
	p {
		margin-left: 1ex;
		margin: $u-h / 4 1ex;
	}

	.li-forte {
		font-weight: bold;
	}
}

.lista-numerada {
	@extend .lista-generica;

	list-style: none;
	counter-reset: contador-lista;
	li {
		counter-increment: contador-lista;
		&:before {
			font-weight: normal;
			@include fs(-2);
			// só funciona com listas de até 9 itens
			margin-left: -2ex;
			margin-right: 1ex;
			content: counter(contador-lista) "";
		}
	}

}

.buleted {
	list-style-type: disc;
	@extend .lista-generica;
}


table {
	width: 100%;
	text-align: left;
	padding: 0;
	margin-bottom: $u-h * 2;

	@include fs(-1);
	small {
		@include fs(-2);
	}

	td, th {
		padding: $u-h/4 0 $u-h/8;
	}
	td {
		border-bottom: 1px solid rgba(255,255,255,0.5);
	}
	th {
		border-bottom: 2px solid white;
	}

	&.fees {
		td:first-child, th:first-child {
			width: percentage(1/2);
		}
		td:not(:first-child), th:not(:first-child) {
			width: percentage(1/4);
			padding-right: $u-h/2;
			padding-left: $u-h/2;
		}
		td:not(:first-child) {
		}

		.there-be-prices td:not(:first-child), tr th:not(:first-child) {
			// text-align: right;
			font-feature-settings: 'tnum';
			
			.invisible-zeros {
				opacity: 0;
			}
			.money {
				opacity: 0.6;
				@include fs(-2);
			}
		}
	}
}

table {
	&, & ~ .legenda-tabela {
		mix-blend-mode: multiply;
	}
	& ~ .legenda-tabela {
		margin-top: -$u-h * 2;
		padding-top: $u-h;
		margin-bottom: $u-h * 2;
		position: relative;
		color: cinza(6);
		@include fs(-2);
	}
}


#get-in-touch {
	background: $conf-color-2;
	text-align: center;
	margin-top: $u-h * 1;
	padding: $u-h * 2 0 $u-h * 3;
	@include fs(1);
	a {
		text-decoration: underline;
	}
}

.botao {
	background: $brand;
	border-radius: $rad-bot;
	color: white;
	& > * {
		text-align: center;
		color: white;
		font-weight: bold;
	}
	a {
		text-decoration: none;
		&:hover {
			background: transparent;
		}
	}
	
	&:hover {
		background: black;
	}

}

.box {
	@extend .botao;
	margin-bottom: $u-h * 2;
	.newsletter {
		padding: $u-h/2 0;
		@include fs(1);
	}
}

.grid-logos {
	display: grid;
	grid-gap: $u-h / 2;
	grid-template-columns: repeat(3, 1fr);
	@include media-query($s-sm) {
		grid-template-columns: repeat(2, 1fr);
	}

	h3 {
		grid-column: 1 / span 3;
		@include media-query($s-sm) {
			grid-column: 1 / span 2;
		}
	}

	.logo {
		img { 
			width: 100%;
		}
		&.l1 {
			grid-column: 1 / 2;
		}
		&.l2 {
			grid-column: 2 / 3;
		}
	}

	& > * {
		// border: 1px solid red;
	}
}





//////////// 




$c_rosa: #ffd4d5;
$c_laranja: #f7941e;
$c_verde: #00a79d;
$c_mix: #006112;
$c_menu : mix(black,#4772aa, 30%);

$w-menu: $u-h * 4;

#toggle {
	display: none;
}
#hamburger {
	@include media-query-a-partir($s-sm) {
		display: none;
	}
	@include fs(0);
	font-weight: 500;
	background: transparent;
	position: fixed;
	right: 0;
	top: 0;
	&:after {
		position: absolute;
		right: 3px;
		top: 6px;
		transform-origin: bottom right;
		transform: rotateZ(-90deg) translateX(40%);
		content: 'menu';
		@include faux-caps;
	}
}
#toggle:not(:checked) {
	@include media-query($s-sm) {
		& ~ #menu-geral {
			display: none !important;
		}
	}
}
#toggle:checked {
	& ~ #hamburger {
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		transform: none;
		&:before {
			content: "";
			position: absolute;
			background: mix(black, $c_rosa,75%);
			mix-blend-mode: multiply;
			opacity: 0.9;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
		&:after {
			// font-family: Fontawesome;
			content: "close";
			color: white;
			mix-blend-mode: normal;
		}
	}
}

#menu-geral {

	a {
		text-decoration: none;
		&:hover {
			background: unset;
		}
	}

	// background: #ffe96b;
	// background: #ff6b6b;
	background: $c_menu;
	position: fixed;
	left: 0;

	z-index: 100;
	top: 0;
	bottom: 0;

	width: $w-menu;
	box-sizing: border-box;

	@include media-query($s-sm) {
		right: 50%;
		width: unset;
	}

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	
	
	#logo-menu-geral {
		margin: $u-h / 2;
		img {
			width: $w-menu - $u-h;
		}
	}

	#c-menu {

		@include media-query-a-partir($s-sm) {
			margin-top: -$u-h; // compensação para que mais ou menos centre.
		}

		#toggle, .toggle-container {
			display: none;
		}

		li {

			
			a {

				@include fs(0,1.3);
				text-transform: lowercase;

				display: block;
				padding: $u-h / 2;
				@include media-query($s-sm) {
					padding: $u-h / 3;
				}

				@media screen and (max-height: 680px) and (min-width: $s-sm) {
					padding-top: $u-h / 3;
					padding-bottom: $u-h / 3;
				}

				@media screen and (max-height: 560px) and (min-width: $s-sm) {
					padding-top: $u-h / 4;
					padding-bottom: $u-h / 4;
					@include fs(-1,1.3);
				}
				


				color: white;
				opacity: 0.75;

				&.registration_link {
					color: $c_laranja;
					background: mix(black,$c_menu);
					opacity: 1;
				}
				
				@include media-query($s-sm) {
					@include fs(-1,1.3);
				}

				@at-root #menu-geral #c-menu .nav-atual a, &:hover {
					background: white !important;
					color: black;
					opacity: 1;
				}
			}
			
		}

	}

	#link-sociedade {
		padding: $u-h / 2;
		opacity: 0.4;
		line-height: 0;
		&:hover {
			background: white;
			background: black;
			opacity: 1;
		}
		img {
			$ajuste-opt : 3px;
			width: calc(100% + #{$ajuste-opt});
			position: relative;
			left: -$ajuste-opt;
		}
	}
	

}


body {
	min-height: 100vh;
	box-sizing: border-box;

	// considerando o menu vertical!
	&:not(.sbfoton) {
		padding: 0 0 0 $w-menu;
		@include media-query($s-sm) {
			padding-left: 0;
		}
	}
	
}


.s-hero {
	background-color: $c_rosa;
	background-image: url(../img/fundos/circulo_branco_medio.svg), url(../img/fundos/circulo_branco_medio.svg);
	background-position: -25vw -25vw, calc(75vw - #{$w-menu}) calc(100vh - 25vw);
	background-size: 50vw, 50vw;
	background-repeat: no-repeat;	
}




#logo-home {

	margin-top: $u-h * 2;
	width: 100%;
	max-width: $u-h * 6;
	margin-left: auto;
	margin-right: auto;
	display: block;
	@include media-query-a-partir($s-sm) {
		display: none;
	}
}

.s-default {
	padding-top: $u-h * 2;
	@extend .s-hero;


	&.s-var-1 {
		background-position: calc(75vw - #{$w-menu}) -25vw, -25vw calc(100vh - 25vw);
	}
	&.s-var-2 {
		background-position: -25vw -25vw, calc(75vw - #{$w-menu}) -25vw;
	}
	&.s-var-3 {
		background-position: calc(75vw - #{$w-menu}) calc(100vh - 25vw), -25vw calc(100vh - 25vw);
	}
	&.s-var-4 {
		background-position: calc(75vw - #{$w-menu}) -25vw, -25vw calc(100vh - 25vw);
	}

	background-color: mix(
			mix($c_rosa, $c_verde, 40%), white, 40%
		);
	background-color: $c_rosa;
}


.s-default, .s-hero {
	@include media-query($s-sm) {
		&, &.s-var-1, &.s-var-2, &.s-var-3, &.s-var-4 {
			background-position: center -45vw, center calc(100vh - 45vw);
			background-size: 90vw, 90vw;
		}
	}
}


.slide-destaques {

	padding-top: $u-h * 2;

	@include media-query($s-sm) {
		background-image: none;
	}

	h1 {
		color: $c_verde;
		// font-weight: bold;
	}
	
	h3 {
		color: white;
		font-weight: 900;
	}


	$r : $u-h / 4;

	.grade {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: $u-h/4;

		@include media-query($s-sm) {
			grid-template-columns: repeat(1, 1fr);
			grid-gap: $u-h / 2;
		}
	
		.g-item {
			background: white;
			padding: $u-h;

			@include media-query($s-sm) {
				padding: $u-h / 3;
			}

			border-radius: $r;
			
			
			&.g-empty {
				background: transparent;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					border: 2px solid transparentize($c_verde,0.5);
					border-radius: $r;
				}
			}
			&.g-text {
				// background: #15878f;
				
				p, a { color: white; }

				flex-direction: column;
				justify-content: center;
				p {
					color: rgba(255,255,255,0.8);
				}
				a {
					text-decoration-color: unset;
					&:hover {
						background: rgba(0,0,0,0.3);
					}
				}
			}
			
			&.g-img {

				@at-root {
					a.g-img:hover {
						&:after {
							content: "";
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
							// background: transparentize($c_rosa,0);
							mix-blend-mode: multiply;
							border: 2px solid $c_verde;
							border-radius: $r;
						}
					}
				}


				img {
					border-radius: $r;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				padding: 0;
				line-height: 0;

				position: relative;
				transform: rotate(0deg);

				.dados-speaker {
					position: absolute;
					left: $u-h / 3;
					right: $u-h;
					bottom: $u-h / 3;
					padding-bottom: $u-h / 8;

					&:before {
						content: "";
						position: fixed;
						left: 0;
						right: 0;
						bottom: 0;
						height: $u-h * 4;
						border-bottom-right-radius: $r;
						border-bottom-left-radius: $r;

						background: linear-gradient(
							to top,
							rgba(black, 0.4), 
							rgba(black, 0.0)
						);
						mix-blend-mode: multiply;
						z-index: 0;
					}
					p {
						@include texto-sombra-0(black);
						color: white;
						@include fs(-1,1.2);
						position: relative;
						z-index: 1;
						&.nome {
							font-weight: bold;
						}
						& + p {
							margin-top: 0.7em;
						}
					}
				}
			}

			&.span-2 {
				grid-column: span 2;
				@include media-query($s-sm) {
					grid-column: span 1;
				}
			}

			&.span-1 {
				p {
					@include fs(-1);
				}
			}

			&.g-blank {
				background: transparent;
			}

			p {
				@include fs(0);
				@include media-query($s-sm) {
					@include fs(-1);
				}
			}
		}
	}

}


div.slide.s-rodape.invertido {
	background-color: mix($c-menu,black);
	background-image: url(../img/fundos/circulo_branco_fraco.svg);
	background-position: center 30vh;
	background-size: 80vw;
}




.reg-but {
	
	@include fs(4);
	color: mix(white, $c_laranja, 90%); // só para dar uma azuladinha

	text-decoration: none;
	background: $c_laranja;
	padding: $u-h/3 $u-h;

	border-radius: 4px;

	&:hover {
		color: white;
		background: black;
	}
}


#reg-plus {
	margin-top: $u-h * 2;
	height: calc(100% - #{$u-h * 2});

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;

  a#reg-but {
		@extend .reg-but;
	}
	
	#reg {
		p {
			margin-top: $u-h / 2;
			opacity: 0.7;
			mix-blend-mode: multiply;
			@include fs(0);
			text-align: center;
		}
	}

	#plus {
		width: 100%;

		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;

		.notice {
			text-align: left;
			h3, p {
				@include fs(2,1.3);
				max-width: 40ch;
			}
			
			h3 {
				color: $brand;
				margin-bottom: $u-h/2;
			}
		}

		.seta {
			position: relative;
			bottom: -$u-h;
			@include fs(9);
		}
	}



	@include media-query($s-sm) {
		align-items: center;
		a {
			@include fs(2);
		}
		#plus {
			display: none;
		}
	}

}


.lista-padrao {
	list-style: square;
	margin-top: $u-h / 4;
	margin-bottom: $u-h / 2;
	margin-left: $u-h / 4;
}

.sub-menu {
	margin-top: $u-h;
	margin-bottom: $u-h;
	display: flex;

	@include media-query($s-sm) {
		flex-direction: column;
		li {
			margin-bottom: $u-h / 2;
		}
	}
	li {
		margin-right: $u-h * 2/3;
		&:last-child {
			margin-right: 0;
		}

		a {
			@include fs(-1);
			@include faux-caps;
			text-decoration: none;
			font-weight: 500;
			opacity: 0.4;
			mix-blend-mode: multiply;
			@at-root .sub-menu li.nav-atual a, &:hover {
				background: unset;
				opacity: 1;
			}
			@at-root .sub-menu li.nav-atual a {
				@include fs(0);
				font-weight: 700;
			}
		}
	}
}

.h-caps {
	@include fs(2,1.1);
	color: $c_verde;
	mix-blend-mode: multiply;
	font-weight: 500;
	margin-bottom: $u-h / 2;
	margin-top: $u-h * 2;
}


.chairs {
	// background: green;

	.chair {
		& + .chair {
			margin-top: $u-h * 3;
		}
	}

	h3 {
		@extend .h-caps;
		margin: $u-h 0;
	}

	.c-membros {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		@include media-query($s-lg) {
			grid-template-columns: repeat(3, 1fr);
		}
		@include media-query($s-md) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include media-query($s-sm) {
			grid-template-columns: repeat(1, 1fr);

		}
		grid-gap: $u-h;

	}
}

.template-nome-autor {

	@include faux-caps;
	@include fs(0,1.2);
	margin-top: $u-h / 4;
	font-weight: 500;

}

.template-instituicao {
	margin-top: -4px;
	mix-blend-mode: multiply;
	opacity: 0.7;
	&, a {
		margin-top: $u-h/4;
		@include fs(-2,1);
	}
}

.template-bio {

	@include fs(-2);
	hyphens: auto;
}


.membro {
	background: transparent;
	padding: 0;


	img {
		width: 100%;
	}

	.nome {
		@extend .template-nome-autor;
	}
	.instituicao {
		@extend .template-instituicao;
	}

	.bio {
		@extend .template-bio;
	}
}

.c-trabalhos {
	margin-top: $u-h;
	.trab-dia {

		& + .trab-dia {
			margin-top: $u-h * 4;
		}

		.trab-codigo {
			visibility: hidden;
		}

		.trab-data {
			@extend .h-caps;
			@include faux-caps;
			color: $c_verde;
			font-weight: bold;
		}

		.trabalho {
			position: relative;
			margin-top: $u-h * 2;
			&:nth-child(2) { //o first é o título do dia
				margin-top: $u-h * 1;
			}
			padding-left: $u-h * 2;
			padding-top: $u-h / 2;

			&:after {
				content: "";
				width: $u-h * 6;
				position: absolute;
				left: 0;
				top: 0;
				border-top: 4px solid black;
				mix-blend-mode: multiply;
				opacity: 0.5;
				@include media-query($s-sm) {
					width: 100%;
				}
			}

			display: grid;
			grid-template-columns: 3fr 2fr;
			@include media-query($s-md) {
				grid-template-columns: 1fr;
				padding-left: 0;
			}
			@include media-query-a-partir($s-xxl) {
				grid-template-columns: 3fr 2fr 2fr;

			}
			grid-gap: $u-h;

			.trab-trab {
				// background: red;
			}
			.trab-autores {
				// background: blue;
				padding-left: $u-h;
				// border-left: 1px solid #fa9e6a;
				@include media-query($s-md) {
					padding-left: 0;
					// border: none;
				}
			}

			.trab-ind {
				position: absolute;
				@include media-query($s-md) {
					position: static;
					max-width: 50%; // bug estranho que causa scroll horizontal quando vc redimensiona (mas não quando a tela começa pequena!)
				}
				left: 0;
				top: 4px;
				font-weight: 300;
				color: $c_verde;
				opacity: 0.6;
				mix-blend-mode: multiply;
				@include fs(9);
				@include media-query($s-sm) {
					@include fs(6);
					font-weight: bold;
					margin-bottom: -$u-h / 2;
				}
			}

			.trab-titulo {
				@include fs(3,1.2);
				font-weight: 300;
				opacity: 0.9;
				// color: $c_verde;
				mix-blend-mode: multiply;
				// hyphens: auto;
				@include media-query($s-sm) {
					@include fs(2,1.2);
				}
			}

			.trab-horario {
				@include fs(-1);
				mix-blend-mode: multiply;
				opacity: 0.7;
			}

			.trab-resumo {
				@include fs(-1);
				hyphens: auto;
				@include media-query-a-partir($s-sm) {
					&.resumo-p {
						@include fs(1);
					}
					&.resumo-m {
						@include fs(0);
					}
				}
			}

			.trab-temas {
				margin-top: $u-h / 3;
				display: flex;
				flex-wrap: wrap;
				li {
					font-style: italic;
					mix-blend-mode: multiply;
					opacity: 0.5;
					margin-right: $u-h/3;
					&:last-child {
						margin-right: 0;
					}
				}
			}

			.trab-autores {
				.trab-autor {
					margin-top: $u-h / 2;
					margin-bottom: $u-h;
					.trab-a-img {
						border-radius: 50%;
						max-width: $u-h * 3;
					}

					.trab-a-nome {
						@extend .template-nome-autor;
						max-width: 30ch;
					}
					.trab-a-inst {
						@extend .template-instituicao;
					}

					.trab-a-bio {
						@extend .template-bio;
						margin-top: $u-h / 6;
						max-width: 40ch;
					}

				}
			}
		}
	}
}