@import 'reset.scss';
@import 'inter-ui.scss';
@import 'min.scss';


$brand: #009cde;
$conf-color-3: #b23f3c;
$conf-color-2: #5e3994;
$conf-color: #e0543c;//tomato; //rebeccapurple;
$conf-frente: white;


body {
	font-family: $fonte-texto, sans-serif;
	padding-top: 4 * $u-h;
}

p + p, blockquote + p, ol + p, ul + p {
	margin-top: $u-h/2;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fonte-texto, sans-serif;
}

h2 {
	font-weight: bold;
	@include fs(2);
	margin-bottom: $u-h/2;
}

p + h2, h2 + h2, ul + h2, ol + h2 {
	margin-top: $u-h;
}

p + h3, h3 + h3, ul + h3, ol + h3 {
	margin-top: $u-h/2;
}

h3 {
	@include fs(-1);
	font-weight: bold;
	@include faux-caps;
}

h4 {
	@include fs(-1);
	font-weight: bold;
}


.conteudo {
	& > .pure-g {
		margin-left: auto;
		margin-right: auto;
		padding-left: 1em;
		padding-right: 1em;
		max-width: $u-h * 20;
	}
}

@mixin colunas($n, $gap) {
	$p : percentage(1/ $n) - #{$gap * ($n - 1)/$n};
	grid-template-columns: repeat($n, calc(#{$p}));
}
.centraliza {
	text-align: center;
}

.c-blocos-destaque {
	.bloco-destaque {
		margin-top: $u-h;
		&.info {
			background: transparentize($brand,0.75);
		}
		&.acao {
			border: 2px solid cinza(9);
			display: block;
			text-decoration: none;
			border-radius: 3px;
			&:hover {
				background: transparentize($brand,0.75);
				border-color: transparentize($brand,0.75);
			}
			// background: cinza(10);
		}
		padding: $u-h/4 0;
	}
}

a {
	color: black;
	text-decoration-skip: ink;
	text-decoration-color: $brand;
	&:hover {
		text-decoration: none;
		background: transparentize($brand,0.75);
	}
}

blockquote {
	border-left: 2px solid cinza(5);
	padding: $u-h/9 $u-h * 2/3;
	margin: $u-h $u-h/2;
	@include fs(-1);
}

.c-membros {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@include media-query($s-sm) {
		grid-template-columns: 1fr 1fr;
	}
	grid-gap: $u-h/2;
	margin: $u-h/2 0 $u-h;
	.membro {
		h5 {
			color: cinza(3);
		}
		background: cinza(9.5);
		@include fs(-2);
		padding: $u-h/2;
	}
}

.logo {
	img {
		max-width: 240px;
		@include media-query-a-partir {
			position: relative;
			left: -12px;
		}
	}
	margin-bottom: $u-h;
}

.popin {
	display: none;
}

.popin.popin-visivel {
	display: block;
}

.popin {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 20vh;
	background: transparentize($conf-color,0.4) url('../img/fundo-banner-conf.png');
	background-size: cover;
	@include texto-sombra-0($conf-color);
	color: $conf-frente;
	z-index: 10;
	overflow-y: scroll;

	
	& > div {
		cursor: pointer; // para indicar que o clique na área colorida faz algo...
	}

	.fundo-botao-popin {
		position: fixed;
		bottom: 0;
		top: 80vh;
		left: 0;
		right: 0;
		cursor: default; // só para dar um override na regra acima
	}

	a {
		color: $conf-frente;
		@include fs(3);
		margin-top: $u-h/2;
		float: left;
		margin-right: $u-h * 2;
		color: $conf-frente;
		transition: all 0.2s ease-in;
		font-weight: bold;
		text-decoration: underline;
		text-decoration-color: rgba(255,255,255,0.5);
		&:hover {
			background: none;
			text-decoration-color: white;
		}
	}

	.where-when {
		@include fs(3);
	}


	@include media-query {
		a, .where-when {
			@include fs(1);
		}
	}

	.conteudo .pure-g {
		min-height: 80vh;
		display: flex;
		// como row não estava centrando no ffox
		flex-direction: column;
		justify-content: center;
	}



	h1 {
		// margin-left: $u-h * 2;
		@include fs(7,1);
		@include media-query($s-sm) {
			@include fs(3,1.3);
		}
		font-weight: bold;
		margin-bottom: $u-h;
	}

	#fecha-popin {
		position: fixed;
		bottom: 10vh;
		left: 50%;
		transform: translateX(-50%) translateY(50%);
		background: black;
		padding: 12px $u-h * 3/2;
		border-radius: 80px;
		color: white;
		border: none;
		@include fs(2);
		@include media-query {
			@include fs(1);
		}
		font-weight: bold;
		&:hover {
			background: $brand;
		}
	}
}

.conference-call {
	position: fixed;
	right: $u-h/2;
	top: $u-h/2;
	background: $conf-color;
	padding: $u-h / 4;
	@include sombra-1;
	@include fs(0,1.2);
	transition: opacity 3s ease;
	opacity: 1;
	text-decoration: none;
	color: white;
	&:hover {
		background: black;
	}
	i {
		padding-left: 4px;
	}
	.ano {

	}
	z-index: 9;
}



body.popado {
	.conference-call {
		transition: all 0s;
		opacity: 0;
	}

	& > *:not(.popin) {
		filter: blur(7px);
		opacity: 0.5;
		cursor: pointer;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		filter: grayscale(100%)
	}
	to {
		opacity: 1;
		filter: grayscale(0);
	}
}

body.home.popado {
	animation: fade-in 1s ease-in-out;
}

body.conference {
	background-color: $conf-color;
	background-image: url('../img/fundo-conf.svg');
	background-size: contain;
	background-repeat: repeat-y;
	padding-bottom: $u-h * 4;
	color: white;
	@include media-query {
		background-size: 400vw;
	}
	a {
		color: white;
		// text-decoration-color: $conf-color-2;
		text-decoration: none;

		color: white;
		background: $conf-color-2;
		&:hover {
			background: white;
			color: $conf-color-2;
		}
	}
}



.topics {
	li {
		padding: $u-h/2;
		background: $conf-color-2;
		@include sombra-2;
	}
	width: 100%;
  display: grid;
	grid-gap: $u-h/2;
  grid-auto-flow: row;
	padding: $u-h/2;
	box-sizing: border-box;
	margin-bottom: $u-h;


	@include media-query {
		@include colunas(2, $u-h/2);
		li {
			@include fs(-1);
		}
	}

	@include media-query-a-partir($s-md) {
		@include colunas(3, $u-h/2);
	}

	@include media-query-a-partir($s-md) {
		@include colunas(4, $u-h/2);
	}

	@include media-query-a-partir($s-lg) {
		padding: $u-h;
		@include colunas(6, $u-h/2);
	}
	
	@include media-query-a-partir($s-xl) {
		@include colunas(8, $u-h/2);
	}

}	


#voltar {
	position: fixed;
	left: $u-h/2;
	top: $u-h/2;
	background: $brand;
	padding: $u-h/4;
	color: white;
	@include sombra-1;
	@include fs(3,0);
	text-decoration: none;
	color: white;
	z-index: 9;
	&:hover {
		background: black;
	}
}

#rodape {
	background: cinza(9);
	padding: $u-h 0 $u-h * 2;
	@include media-query {
		.pure-u-md-1-2 {
			margin-bottom: $u-h;
		}
	}
	p {
		@include fs(-1);
	}
	img {
		margin-top: $u-h/3;
		max-width: 100%;
	}
}

.buleted {
	list-style-type: circle;
	@include media-query($s-md) {
		list-style-position: inside;
	}
	&.duas-colunas {
		@include media-query-a-partir($s-md) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-row-gap: $u-h/4;
			grid-column-gap: $u-h;
		}
	
	}
}