
@import 'inter-ui.scss';
@import 'min.scss';


$c_rosa: #ffd4d5;
$c_laranja: #f7941e;
$c_verde: #00a79d;
$c_mix: #006112;



#logo_conf {
  position: absolute;
  left: $u-h;
  top: $u-h * 2/3;
  width: calc(#{$u-h * 2} + 3vmax);
}

.new_conf {
	padding: 0;
}

.slide {
  min-height: 100vh;

  &.s_intro {
    background-color: $c_rosa;
    background-image: url(/img/fundos/s_intro.svg);
    background-repeat: no-repeat;
    background-size: 1920px;
    background-position: top left;

    margin-bottom: $u-h * 30;

    p {
      @include fs(1.2);
      // margin-top: calc(#{$u-h * 2} + 30vmin);
    }
  }
}

.center-p {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.bottom-p {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: $u-h;
  padding-top: $u-h * 4;
}