@import "inter.scss";
@import "min.scss";
@import "config.scss";

#logo_conf {
  position: absolute;
  left: $u-h;
  top: $u-h * 2/3;
  @include media-query($s-sm) {
    top: $u-h * 3/2;
  }
  width: calc(#{$u-h * 2} + 6vmax);
  transform: translateX(-8%);
}

.new_conf {
  padding: 0;
}

.slide {
  min-height: 100vh;

  padding-bottom: $u-h * 2;

  &.invertido {
    color: white;
    a {
      color: white;
      &:hover {
        background: $brand;
      }
    }
  }

  &.s-hero {
    background-color: $color-A;
  }

  &.s-rodape {
    box-sizing: border-box;
    background-color: $dark_highlight;

    min-height: unset;
    color: white;
    padding-bottom: 0;
    padding: $u-h;
    grid-gap: $u-h;

    @include media-query-a-partir($s-md) {
      display: grid;
      grid-template-columns: 4fr 3fr 2fr;

      .about-sbfoton {
        grid-column: 1;
        grid-row: 1;
      }
      .conf-support {
        grid-column: 3;
        grid-row: 1;
      }
      .credits {
        grid-column: 1 / span 3;
        grid-row: 2;
      }
    }

    @include media-query($s-md) {
      .conf-support {
        margin-top: $u-h;
        display: grid;
        grid-gap: $u-h/2;
        align-items: baseline;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

.center-p {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#call-for-papers-overlay {
  background: $c_verde;
  color: white;
  position: absolute;
  right: $u-h / 2;
  top: $u-h / 2;

  padding: $u-h / 4;

  // box-shadow: (-$u-h / 4) (-$u-h / 4) 0 $c_laranja;
}

#menu-conf {
  position: fixed;
  z-index: 10;
  right: $u-h;
  top: $u-h * 2/3;
  display: flex;
  li {
    margin-right: $u-h;
    &:last-child {
      margin-right: 0;
    }
    a {
      @include fs(1);
      @include faux-caps;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        background: transparent;
      }
    }
  }

  @include media-query($s-lg) {
    li {
      &:not(:last-child) {
        margin-right: $u-h / 2;
      }
      a {
        @include fs(-1);
      }
    }
  }
  @include media-query($s-md) {
    right: 0;
    left: 0;
    top: 0;
    justify-content: center;
    background: $c_rosa;
    @include sombra-0;
    li {
      margin-right: 0 !important;
      text-align: center;
      flex-grow: 1;
      padding-bottom: $u-h / 8;
      a {
        @include fs(-3, 0);
        font-weight: normal;
        // color: white;
      }
    }
  }
}

.link-destacado {
  margin-top: $u-h;
  margin-bottom: $u-h * 2;
  padding: $u-h / 2 $u-h * 2;
  text-align: center;
  // border: 2px solid white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  @include fs(1);
  display: inline-block;
  text-decoration: none;
  &:hover {
    border-color: black;
  }
}

.fs1 {
  @include fs(1);
}

.fs0 {
  @include fs(0);
}

.fs-1 {
  @include fs(-1);
}

.fs-2 {
  @include fs(-2);
}

.fs-3 {
  @include fs(-3);
}

$c1: #69bba2;
$c2: #d6ae81;
$c3: #718ab1;
$c4: #e87866;
$c5: #769088;
$c6: #a4957c;

$sep: $u-h / 3;

.grid-dates {
  display: grid;
  grid-column-gap: $u-h / 2;
  grid-row-gap: $u-h / 4;
  grid-template-columns: 1fr;
}

.g-t-new_conf {
  @extend .grid-dates;
  @include media-query($s-md) {
    overflow-x: hidden;
    .t-new_conf {
      padding-left: $u-h/8;
      overflow-x: scroll;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        width: $u-h * 2;
        z-index: 2;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent);
        mix-blend-mode: multiply;
      }
      border-right: 1px solid cinza(3);
    }
  }
}

.dates {
  @extend .grid-dates;
  @include media-query($s-md) {
    display: block;
  }

  margin-top: $u-h;
  mix-blend-mode: multiply;

  .event {
    padding: $u-h / 6;
    display: block;
    padding-bottom: $u-h / 4;
    border-bottom: 2px solid cinza(8);
    grid-row: 1/2;
    font-weight: bold;
  }
  .date {
    padding: $u-h / 6;
    margin-bottom: $u-h / 2;
    @include fs(0);
    grid-row: 2/3;
    @include faux-caps;
  }
}

.t-new_conf {
  grid-row: 3/4;

  margin-top: $u-h * 2;

  @include media-query($s-sm) {
    .fees {
      @include fs(-3);
      small,
      .there-be-prices td:not(:first-child) .money,
      tr th:not(:first-child) .money {
        @include fs(-4);
      }
    }
  }

  td {
    border-bottom: 1px solid mix($highlight, $color-A);
  }
  tr:last-child td {
    border-bottom: 1px solid transparent;
  }
  th {
    border-bottom: 2px solid transparent;
  }

  table ~ .legenda-tabela {
    margin-bottom: 0;
    p {
      max-width: 55ch;
    }
  }
}

h1 {
  color: $highlight;
  @include fs(5, 1.15);

  @include media-query($s-sm) {
    @include fs(3, 1.3);
  }
}

// logo não deve ocupar tudo, mas como uso seu tamanho
// para calcular a posicão do texto (para alinha com o nome),
// melhor colocar essa proporção de redução numa variável
$pl-r: 0.6;

#link-logo-rodape {
  display: block;
  padding-bottom: $u-h/4;
  a:hover {
    background: transparent;
  }
  & ~ p {
    padding-left: 32.44401438% * $pl-r; // proporção entre (bolinha+margem)/(largura total) no logo
    box-sizing: border-box;
  }
}

#logo-rodape {
  width: 100% * $pl-r;
}

.conf-support {
  @include fs(-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  a {
    padding: 2px;
    text-decoration: none;
    &:hover {
      background: none !important;
    }
    & + a {
      margin-top: $u-h / 2;
    }
    img {
      max-height: $u-h;
    }
  }
}

.credits {
  @include fs(-2);
  padding: $u-h * 4 0 0;
  &,
  a {
    color: $light_highlight !important;
  }
  a:hover {
    color: white !important;
  }
}

.link-importante {
  padding: 0 4px;
  margin: 0 -4px;
}

.crossed {
  text-decoration: line-through;
  opacity: 0.5;
  font-weight: normal;
}

.unsure-date {
  color: magenta;
}

// scrollbar
body {
  ::-webkit-scrollbar-button {
    display: none;
    height: 12px;
    border-radius: 0px;
    background-color: black;
  }
  ::-webkit-scrollbar-button:hover {
    background-color: black;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $highlight;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: $highlight;
  }
  ::-webkit-scrollbar-track {
    background-color: cinza(1);
  }
  ::-webkit-scrollbar {
    width: $u-h * 2/5;
  }
}

#slide-container {
  background-color: black;
  background-image: url(../img/bg1.png);
  background-position: right top;
  background-repeat: repeat;

  background-size: 21/25 * 100vw auto;
  .slide {
    max-width: 54vw;
  }

  @include media-query($s-xxxxl) {
    background-size: 12 / 13 * 100vw auto;
    .slide {
      max-width: 62vw;
    }
  }
  @include media-query($s-xxl) {
    background-size: 9 / 10 * 100vw auto;
    .slide {
      max-width: 69vw;
    }
  }
  @include media-query($s-xl) {
    background-size: 39 / 50 * 100vw auto;
  }
  @include media-query($s-lg) {
    background-size: 24 / 25 * 100vw auto;
  }
  @include media-query($s-md) {
    background-size: 5 / 4 * 100vw auto;
  }
  @include media-query($s-sm) {
    .slide {
      max-width: unset;
    }
  }
}
