
@import 'inter-ui.scss';
@import 'min.scss';


$c_rosa: #ffd4d5;
$c_laranja: #f7941e;
$c_verde: #00a79d;
$c_mix: #006112;



#logo_conf {
  position: absolute;
  left: $u-h;
  top: $u-h * 2/3;
  width: calc(#{$u-h * 2} + 6vmax);
  transform: translateX(-8%);
}

.new_conf {
	padding: 0;
}

.slide {
  min-height: 100vh;

  &.s-intro {
    background-color: $c_rosa;
    background-image: url(/img/fundos/s_intro.svg), url(/img/fundos/s_intro_2.svg);
    background-repeat: no-repeat;
    background-size: 1920px, 1920px;
    background-position: 0 -300px, 100% 0;

    p {
      @include media-query-a-partir($s-sm) {
        @include fs(1);
      }
      @include media-query-a-partir($s-xl) {
        @include fs(1.2);
      }
      // margin-top: calc(#{$u-h * 2} + 30vmin);
    }
  }

  &.s-call-for-papers {
    background-image: url(/img/fundos/s_call_0.svg), linear-gradient(darken($c_verde,5%), $c_verde);
    background-repeat: repeat, no-repeat;
    background-size: $u-h * 5, cover;

    color: white;

    a {
      color: white;
      text-decoration-color: white;
      &:hover {
        background-color: black;
      }
    }

  }


  --o: .99;
  &.s-dates {
    opacity: var(--o);
    will-change: opacity;
    --p_s3_y_img2: 0%;
    --p_s3_x_img2: 50%;
    background-color: white;
    background-image: url(/img/fundos/s_dates_0.svg), url(/img/fundos/s_dates_1.svg);
    background-attachment: scroll, scroll;
    background-position: var(--p_s3_x_img2) var(--p_s3_y_img2), bottom left;
    background-size: 1920px, 1920px;
    background-repeat: no-repeat;
  }


}

.center-p {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.bottom-p {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: $u-h;
  padding-top: $u-h * 4;
}


#call-for-papers-overlay {
  background: $c_verde;
  color: white;
  position: absolute;
  right: $u-h / 2;
  top: $u-h / 2;
  
  padding: $u-h / 4;

  // box-shadow: (-$u-h / 4) (-$u-h / 4) 0 $c_laranja;
}


#menu-conf {
  position: fixed;
  right: $u-h;
  top: $u-h * 2/3;
  display: flex;
  li {
    margin-right: $u-h;
    &:last-child {
      margin-right: 0;
    }
    a {
      @include fs(1);
      @include faux-caps;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        background: transparent;
      }
    }
  }
}


.call-for-papers-banner {
  margin-top: $u-h * 2;
  margin-bottom: $u-h;
  padding: $u-h;
  background: black;
  font-weight: bold;
  color: white;


  p:nth-child(1) {
    @include fs(8,1);
    @include faux-caps;
    padding: 0;
  }
  .call-deadline {
    margin-top: $u-h / 4;
    @include fs(3,1);
  }
}

.fs1 {
  @include fs(1);
}

.fs0 {
  @include fs(0);
}

.fs-1 {
  @include fs(-1);
}


$c1: #69bba2;
$c2: #d6ae81;
$c3: #718ab1;
$c4: #E87866;
$c5: #769088;
$c6: #A4957C;

$sep: $u-h / 3;


.topics-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $u-h / 9;
  grid-template-rows: repeat(6, auto 1fr);

  margin-bottom: $u-h;


  .topic-group, .topic {
    padding: $u-h / 6;
  }
  .topic-group {

    padding-top: $u-h;
    color: white;
    
    
    @include fs(-1);
    @include faux-caps;
    font-weight: bold;
    grid-column: 1;
    &.opt-comm { grid-row: 1; }
    &.lasers { grid-row: 3; }
    &.int-phot { grid-row: 5; }
    &.opt-inst { grid-row: 7; }
    &.biophot { grid-row: 9; }
    &.sensors { grid-row: 11; }
  }

  .topic {
    // background: white;
    @include fs(-1);
    border: 4px solid transparent;
    
    $cft: white;
    color: black;

    border-radius: $u-h / 3;

    &.opt-comm { background: $cft; box-shadow: -$sep $sep 0 $c1; }
    &.lasers { background: $cft; box-shadow: -$sep $sep 0 $c2; }
    &.int-phot { background: $cft; box-shadow: -$sep $sep 0 $c3; }
    &.opt-inst { background: $cft; box-shadow: -$sep $sep 0 $c4; }
    &.biophot { background: $cft; box-shadow: -$sep $sep 0 $c5; }
    &.sensors {background: $cft; box-shadow: -$sep $sep 0 $c6; }
    
  }

  .topics-em-si {
    display: grid;
    grid-gap: #{$sep * 2};
    grid-template-columns: repeat(5, 1fr);

    @include media-query-a-partir($s-lg) {
      grid-template-columns: repeat(8, 1fr);
    }

    @include media-query($s-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-query($s-sm) {
      grid-template-columns: repeat(1, 1fr);

    }
  }

}

.saiba-mais {
  margin-top: $u-h / 2;
  display: inline-block;
  background: black;
  color: white;
  padding: $u-h / 9;
  border-radius: 50%;
  width: $u-h / 2;
  height: $u-h / 2;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  &:hover {
    background: black;
  }
}