include /_mixins

+menu('Venue *')


//- .conteudo

.slide.s-default.s-var-1.pad
  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      h1 Venue information

      ul.sub-menu
        li #[a(href="./") CPqD]
        li.nav-atual #[a About Campinas & Barão Geraldo]

  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2

      .separador-1

      h2 About Campinas
      p Campinas is a city and county in São Paulo state, Brazil. As the core of a metropolis of 2.6 million people, it's the third biggest city in the state, just after São Paulo itself and Guarulhos.
      p Campinas means "grass fields" in Portuguese and refers to its characteristic landscape, which originally comprised large stretches of dense subtropical forests (mato grosso or "thick woods" in Portuguese), mainly along the many rivers, interspersed with gently rolling hills covered by low-lying vegetation.
      p The city was founded on July 14, 1774, by Barreto Leme, initially as a simple outpost on the way to Minas Gerais and Goiás serving the "Bandeirantes" who were in search of precious minerals and Indian slaves. In the first half of the 19th century, Campinas became a growing population center, with many coffee, cotton and sugarcane farms. The construction of a railway linking the city to São Paulo and Santos' seaport, in 1867, was very important for its growth. In the second half of the 19th century, with the abolition of slavery, farming and industrialization attracted many foreign immigrants to replace the lost manpower, mainly from Italy. Coffee became an important export and the city became wealthy. In consequence, a large service sector was established to serve the growing population, and in the first decades of the 20th century, Campinas could already boast of an opera house, theaters, banks, movie theaters, radio stations, a philharmonic orchestra, two newspapers, a good public education system, hospitals, and the most important Brazilian research center in agricultural sciences. Finally, the construction of the first Brazilian highway in 1938, between Campinas and São Paulo, the Anhanguera Highway, was a turning point in the integration of Campinas into the rest of the state. Campinas was the birthplace of opera composer Carlos Gomes (1836—1896) and of the President of the Republic Campos Salles (1841—1913), both of whom have small museums in their honor today.




      h2 About Barão Geraldo
      p Barão Geraldo is a district of the municipality of Campinas, in the state of São Paulo, Brazil. It is named after Barão Geraldo de Rezende, a baron of the Empire of Brazil who owned a large farm in the region, in the 19th century.

      p The district of Barão Geraldo, today with more than 70 neighborhoods and almost 70 thousand inhabitants, is well known for what it has to offer in the areas of education, health, culture, leisure, among others.

      p Barão Geraldo is approximately 15 km (9.3 mi) from downtown Campinas and it is mainly connected to it via the Rodovia Campinas-Paulínia highway. Barão Geraldo is famous for hosting the main campus of the State University of Campinas (UNICAMP). The university campus is surrounded by typical suburban communities, gated condominiums, and many old farms, such as Pau D'Alho, Santa Eudóxia, Rio das Pedras and Santa Genebra. The University itself and the surrounding residential communities were built on a former coffee and sugarcane plantation. Near UNICAMP there is another university, the Campus I of PUC-Campinas (Pontifícia Universidade Católica de Campinas). Campus I is the largest space in PUC-Campinas, where more than 50% of students at the university study and where the Rectory is located. 

      p Barão Geraldo is one of the greenest districts of Campinas. It has several lakes and the Mata of Santa Genebra, a large preservation area where the original rain forest which covered the region in the past can be seen and is studied by the University. It still has a large diversity of plants and animals, including the capybara and the spotted jaguars.

      p Near UNICAMP, the district hosts also a large high-tech industrial zone (with several companies, such as Nortel); three research and development institutions; the Fundação Centro de Pesquisa e Desenvolvimento em Telecomunicações (CPqD), focused on telecommunications and information technology; the Laboratório Nacional de Luz Síncrotron and the Instituto Eldorado. It is considered the main part of the so-called Brazilian Silicon Valley. The expansion of its technological park has attracted other institutions, which are planned to settle in Barão Geraldo in the near future, such as the Technological Center of the Brazilian Army, the Research and Development Center of Natura cosmetics company and others.

      p Barão Geraldo also hosts the Centro de Tecnologia da Informação Renato Archer – CTI,  a research unit of the Ministry of Science, Technology, Innovation and Communications. Since 1982 it has been active in research and development in many areas that include integrated photonics, microelectronics, electronic components, systems, information displays, software, IT applications, robotics, computer vision, 3D printing technologies for industry and medicine, and decision support software.

      p Barão Geraldo is also a major health care destination in the state, with the large University Clinics Hospital, the Centro Médico de Campinas, the Centro Infantil Domingos A. Boldrini (a children's cancer hospital), the Centro de Oncologia Campinas (a cancer treatment polyclinic), Sobrapar (Brazilian Society for Research and Assistance for Craniofacial Rehabilitation) and the COC (Oncology Center of Campinas)..

      p In the cultural part, Barão Geraldo hosts theater groups (such as the Matula Theater group), music (such as the Samba Center and Composers of the Cupinzeiro) and dance (such as ABAMBA - Association of Benefactors and Friends of the Dancers Actors Boys).

      p For residents and non-residents of the district who seek daytime entertainment, Barão Geraldo offers the forested areas near and within Unicamp, the Hermogenes de Freitas Leitão Filho Ecological Park, the Côco Square, as well as dozens of other squares and places that can be visited. When it comes to nightlife, there are plenty of good bars and restaurants in Barão Geraldo that attract visitors from various places.

      p Also in the district are important entities such as the Down Syndrome Foundation, the Bom Pastor House of Rest and the Santa Isabel Church.





+rodape('Venue *')