include /_mixins

+menu('Venue *')


//- .conteudo

.slide.s-default.s-var-1.pad
  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      h1 Venue information
      .separador-1
      p SBFoton Conference 2018 edition will be held in the city of Campinas, São Paulo state, at the conference facilities of CPqD Foundation, from October 8th to 10th.


+rodape('Venue *')