include /_mixins

+menu('Venue *')


//- .conteudo

.slide.s-default.s-var-1.pad
  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      h1 Venue information

      ul.sub-menu
        li.nav-atual #[a CPqD]
        li #[a(href="campinas_and_barao.html") About Campinas & Barão Geraldo]



      .separador-1
      p SBFoton Conference 2018 edition will be held in the city of Campinas, São Paulo state, at the conference facilities of CPqD Foundation, from October 8th to 10th.

      h2 How to get to CPqD

  .pure-g
    .pure-u-1
      .map-responsive
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14710.513842961733!2d-47.045121!3d-22.816227!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4401ca76b40d683d!2sCPqD!5e0!3m2!1sen!2sbr!4v1533323230755", width="400", height="280", frameborder="0", style="border:0", allowfullscreen)
  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2

      .separador-1

      h3 Address
      p R. Dr. Ricardo Benetton Martins, 1.000 #[br] Parque II do Polo de Alta Tecnologia #[br] CEP 13086-510 (CEP exclusivo 13086-902) #[br] Campinas – SP


      .separador-2
      h3 São Paulo/CPqD via Anhangüera Highway
      ol.lista-numerada.duas-colunas
        li Follow Anhangüera Highway to Exit 103B (to Dom Pedro I Highway).
        li Continue on the Dom Pedro I Highway, and take Exit 135 onto the Adhemar de Barros Highway (also known as the Campinas–Mogi-Mirim Highway).
        li Continue past the Alphaville housing complex, at km 116, and the electronic road sign/radar at km 118.
        li Take the next exit to return to Campinas (signs for Pólo II de Alta Tecnologia de Campinas).
        li Take the first right to Pólo II.
        li Turn right at the parking lot (sign for Pólis – Estacionamento para visitantes).


      .separador-2
      h3 São Paulo-CPqD via Bandeirantes Highway
      ol.lista-numerada.duas-colunas
        li Follow the Bandeirantes Highway and merge onto the Anhangüera Highway.
        li Follow the Anhangüera Highway to Exit 103B (to the Dom Pedro I Highway).
        li Continue on the Dom Pedro I Highway, and take Exit 135 onto the Adhemar de Barros Highway (also known as the Campinas–Mogi-Mirim Highway).
        li Continue past the Alphaville housing complex, at km 116, and the electronic road sign/radar at km 118.
        li Take the next exit to return to Campinas (signs for Pólo II de Alta Tecnologia de Campinas).
        li Take the first right to Pólo II.
        li Turn right at the parking lot (sign for Pólis – Estacionamento para visitantes).


      .separador-2
      h3 São Paulo/CPqD via Anhangüera Highway/Magalhães Teixeira Beltway
      ol.lista-numerada.duas-colunas
        li Follow the Anhangüera Highway towards Campinas and take the first exit after the second tollbooth.
        li Take the Magalhães Teixeira Beltway and then turn onto the Dom Pedro I Highway.
        li Continue on the Dom Pedro I Highway, and take Exit 134 onto the Adhemar de Barros Highway (also known as the Campinas–Mogi-Mirim Highway).
        li Continue past the Alphaville housing complex, at km 116, and the electronic road sign/radar at km 118.
        li Take the next exit to return to Campinas (signs for Pólo II de Alta Tecnologia de Campinas).
        li Take the first right to Pólo II.
        li Turn right at the parking lot (sign for Pólis – Estacionamento para visitantes).



      .separador-2
      h3 Rio de Janeiro-CPqD via Presidente Dutra Highway
      ol.lista-numerada.duas-colunas
        li Follow the Presidente Dutra Highway and turn onto the Dom Pedro I Highway.
        li Continue on the Dom Pedro I Highway, and take Exit 134 onto the Adhemar de Barros Highway (also known as the Campinas–Mogi-Mirim Highway).
        li Continue past the Alphaville housing complex, at km 116, and the electronic road sign/radar at km 118.
        li Take the next exit to return to Campinas (signs for Pólo II de Alta Tecnologia de Campinas).
        li Take the first right to Pólo II.
        li Turn right at the parking lot (sign for Pólis – Estacionamento para visitantes).

+rodape('Venue *')