include /_mixins

+menu('Venue *')

#slide-container
  //- .conteudo

  .slide.s-default.s-var-1.pad
    .pure-g
      .pure-u-1
        h1 Venue information

        //- ul.sub-menu
          li.nav-atual #[a IPEN]

      .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2

        .separador-1
        p The SBFoton Conference 2019 will be held in the city of São Paulo at the conference facilities of IPEN, from October 7#[sup th] to 9#[sup th].

        h2 How to get to IPEN

    .pure-g
      .pure-u-1
        .map-responsive
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.055851463444!2d-46.74025118502895!3d-23.566437484680318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2s588MC7M6%2BCQ!5e0!3m2!1sen!2sbr!4v1565015302075!5m2!1sen!2sbr", width="400", height="280", frameborder="0", style="border:0", allowfullscreen)
    .pure-g
      .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2

        .separador-1

        h3 Address
        p. 
          Instituto de Pesquisas Energéticas e Nucleares #[br]
          IPEN/CNEN-SP #[br]
          Av. Prof. Lineu Prestes 2242 #[br]
          Cidade Universitária #[br]
          CEP: 05508-000 #[br]
          São Paulo — SP #[br]
          Brazil 


        //- .separador-2
        //- h3 São Paulo/CPqD via Anhangüera Highway
        //- ol.lista-numerada.duas-colunas
        //-   li Follow Anhangüera Highway to Exit 103B (to Dom Pedro I Highway).
        //-   li Continue on the Dom Pedro I Highway, and take Exit 135 onto the Adhemar de Barros Highway (also known as the Campinas–Mogi-Mirim Highway).
        //-   li Continue past the Alphaville housing complex, at km 116, and the electronic road sign/radar at km 118.
        //-   li Take the next exit to return to Campinas (signs for Pólo II de Alta Tecnologia de Campinas).
        //-   li Take the first right to Pólo II.
        //-   li Turn right at the parking lot (sign for Pólis – Estacionamento para visitantes).

  +rodape('Venue *')