include /_mixins

+menu('Venue *')


//- .conteudo

.slide.s-default.s-var-1.pad
  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      h1 Venue information

      ul.sub-menu
        li #[a(href="./") CPqD]
        li #[a(href="campinas_and_barao.html") About Campinas & Barão Geraldo]
        li #[a(href="hotels.html") Hotels]
        li.nav-atual #[a Social events]

  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2

      .separador-1

      p SBFoton Conference 2018 is themed "Gathering All” and, beyond organizing a Technical Program to promote a large discussion on scientific challenges, technology trends and product development processes aiming at innovative and cooperative initiatives, we are organizing social events that will also promote the exchange and networking among all participants.
      p In this sense, the infrastructure of CPqD Technology Polis is a facilitator, not only during coffee and lunch breaks. This way, there will be a live show of Brazilian music at the CPqD auditorium on Monday early evening (October 8), presented by singer #[a(href="http://www.izabelpadovani.mpbnet.com.br/", target="_blank") Izabel Padovani] and bassist #[a(href=" https://www.facebook.com/ronaldosaggiorato", target="_blank") Ronaldo Saggiorato]. The Duo is a partnership of almost two decades, which brings the maturation of a formation still unused today - bass and voice -, that allows a broad performance of each instrument: the result is a music without frontiers, performed with intimacy and freedom and valuing the richness of Brazilian music. 

      .separador-1

      .video-responsive
        iframe(width="560", height="315", src="https://www.youtube.com/embed/-XbXozgpMhg?rel=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen="")
      .separador-1
      
      p The live show will be followed by a Welcome Cocktail, also at CPqD. Both events on Monday are free to all conference attendees.
      p By Tuesday night (October 9), the great social moment will be the Conference Dinner, to be held at the restaurant "O Matuto" (Taquaral), included for all full-registration and Listener attendees. Invitations can be purchased at the reception desk for students and companions.
      p Finally, during the closing ceremony on Wednesday (October 10), there will be the result announcement and award of winners of the Student Competition, which we hope will be a stimulus to an engaged participation of graduate students in events of this nature.
      p We hope all participants can enjoy the social programming of the conference.
      p See you all there!

+rodape('Venue *')