doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		link(rel="stylesheet",href="css/reset.css")
		
		link(rel="stylesheet",href="css/pure/base-min.css")
		link(rel="stylesheet",href="css/pure/grids-min.css")
		link(rel="stylesheet",href="css/pure/grids-responsive-min.css")
		
		link(rel="stylesheet",href="css/main.css")
		
		script(src="js/jquery-3.1.1.min.js")
		script(src="https://use.fontawesome.com/ac4ebc58e7.js")
		
		script(src="js/jquery.sticky-kit.js")

		title Hello world
		
	body
		!= yield
		
		script(src="https://use.typekit.net/wav7jyo.js")
		script.
			try{Typekit.load({ async: true });}catch(e){}
			
		//-
			script(src="//use.typekit.net/yab2dls.js")
			script.
				try{Typekit.load({ async: true });}catch(e){}
