include /_mixins

+menu('home')


//- .conteudo


.slide.s-hero.pad
  .pure-g
    .pure-u-1.pure-u-sm-1.pure-u-lg-2-3.pure-u-xl-1-2
      img#logo-home(src="img/sbfoton_conf_2018.svg")
      .bottom-p
        h1 SBFOTON #[br] Conference #[br] 2018
        h2 Registration #[br] is open!
        p Accepted papers will be published in the conference proceedings but to be published by IEEE Xplore, at least one of the authors of each paper must have a FULL registration and the paper must be presented during the conference by one of the authors. One full registration covers for two papers that are to be presented.
    .pure-u-1.pure-u-sm-1.pure-u-lg-1-3.pure-u-xl-1-2
      #reg-plus
        #reg
          a#reg-but(href="registration.html") Registration
          p from August 3rd to October 3rd
        #plus
          .notice
            h3 Venue has changed!
            p The event will be hosted #[br] at CPqD, Campinas, #[br] from October 8th to 10th.
            p Read about it #[a(href="venue/") here].
          //- p.seta ↓
          //- ⭝
  .slide-destaques
    .separador-1
    h1 Featured guests
    .separador-1
    .grade#featured-guests
      a.g-item.g-img(href="plenaries.html#PL-TUE-01")
        img(src="img/speakers/anderson_gomes.jpg")
        .dados-speaker
          p.nome Anderson Stevens Leônidas Gomes
          p.filiacao DF UFPE / Brazil
      a.g-item.g-img(href="plenaries.html#PL-WED-01")
        img(src="img/speakers/antonio_teixeira.jpg")
        .dados-speaker
          p.nome António Luis Jesus Teixeira
          p.filiacao Universidade de Aveiro / Portugal
      a.g-item.g-img(href="plenaries.html#PL-MON-01")
        img(src="img/speakers/carlos_lee.jpg")
        .dados-speaker
          p.nome Carlos Lee
          p.filiacao EPIC members drive the photonics revolution / EPIC France
      a.g-item.g-img(href="plenaries.html#PL-MON-02")
        img(src="img/speakers/chennupati_jagadish.jpg")
        .dados-speaker
          p.nome Chennupati Jagadish
          p.filiacao Australian National University / Australia
      a.g-item.g-img(href="plenaries.html#PL-WED-02")
        img(src="img/speakers/cristina_kurachi.jpg")
        .dados-speaker
          p.nome Cristina Kurachi
          p.filiacao IFSC USP / Brazil
      a.g-item.g-img(href="plenaries.html#PL-MON-04")
        img(src="img/speakers/jarbas_neto.jpg")
        .dados-speaker
          p.nome Jarbas Caiado de Castro Neto
          p.filiacao IFSC USP / Brazil
      a.g-item.g-img(href="plenaries.html#PL-TUE-02")
        img(src="img/speakers/raouf_el_mallawany.jpg")
        .dados-speaker
          p.nome Raouf El-Mallawany
          p.filiacao PD Menoufia University / Egypt
      a.g-item.g-img(href="plenaries.html#PL-TUE-04")
        img(src="img/speakers/pierre_francois_brevet.jpg")
        .dados-speaker
          p.nome Pierre François-Brevet
          p.filiacao University of Lyon / France
      a.g-item.g-img(href="plenaries.html#PL-WED-03")
        img(src="img/speakers/jacobus_swart.jpg")
        .dados-speaker
          p.nome Jacobus Willibrordus Swart
          p.filiacao Unicamp / IMEC / Brazil
      a.g-item.g-img(href="plenaries.html#PL-WED-05")
        img(src="img/speakers/manuel_steidle.jpg")
        .dados-speaker
          p.nome Manuel Steidle
          p.filiacao CERTI / Brazil
      a.g-item.g-img(href="plenaries.html#PL-MON-03")
        img(src="img/speakers/harry_junior.jpg")
        .dados-speaker
          p.nome Harry Westfahl Junior
          p.filiacao LNLS / Brazil
      a.g-item.g-img(href="plenaries.html#PL-TUE-05")
        img(src="img/speakers/julio_de_oliveira.jpg")
        .dados-speaker
          p.nome Júlio Cesar Rodrigues Fernandes de Oliveira 
          p.filiacao Idea! / Brazil
      a.g-item.g-img(href="plenaries.html#PL-WED-04")
        img(src="img/speakers/scott_powell.jpg")
        .dados-speaker
          p.nome Scott R. Powell
          p.filiacao Jariet Technologies Inc / US
      a.g-item.g-img(href="plenaries.html#PL-TUE-03")
        img(src="img/speakers/bruno_menezes.jpg")
        .dados-speaker
          p.nome Bruno Menezes / Keysight
      //- .g-item.g-empty

  script.
    //https://stackoverflow.com/questions/7070054/javascript-shuffle-html-list-element-order
    var g = document.querySelector('#featured-guests');
    for (var i = g.children.length; i >= 0; i--) {
      g.appendChild(g.children[Math.random()*i | 0]);
    }


  //- .slide-destaques
    .separador-1
    h1 Featured guests & notices
    .separador-1
    .grade
      a.g-item.g-img(href="plenaries.html#PL-TUE-01")
        img(src="img/speakers/anderson_gomes.jpg")
        .dados-speaker
          p.nome Dr. Anderson Stevens Leônidas Gomes
          p.filiacao DF UFPE / Brazil
      .g-item.g-text.span-2
        h3 Workshops by WTON
        br
        p Nibh vitae vestibulum aptent ut fusce eleifend mollis tristique mus parturient adipiscing sapien ut parturient posuere. Nibh vitae vestibulum aptent ut fusce eleifend mollis tristique mus parturient adipiscing sapien ut parturient posuere.
      a.g-item.g-img(href="plenaries.html#PL-WED-01")
        img(src="img/speakers/antonio_teixeira.jpg")
        .dados-speaker
          p.nome Dr. António Luis Jesus Teixeira
          p.filiacao Universidade de Aveiro / Portugal
      .g-item.g-text.span-1
        p We have moved the conference to Universidade Estadual de Campinas, in Campinas, São Paulo.
        br
        p #[a.fs-1(href="sbfoton/") About Unicamp]
      a.g-item.g-img(href="plenaries.html#PL-MON-01")
        img(src="img/speakers/carlos_lee.jpg")
        .dados-speaker
          p.nome Dr. Carlos Lee
          p.filiacao EPIC members drive the photonics revolution
      .g-item.g-text.span-2
        h3 About SBFOTON
        br
        p The Brazilian Photonics Society has begun its activities on May 24th, 2017 with the main objective to work for increasing the importance and awareness of optics and photonics in Brazil and South America.
        br
        p #[a.fs-1(href="sbfoton/") Learn more about the society]
      a.g-item.g-img(href="plenaries.html#PL-MON-02")
        img(src="img/speakers/chennupati_jagadish.jpg")
        .dados-speaker
          p.nome Dr. Chennupati Jagadish
          p.filiacao Australian National University / Australia
      .g-item.g-text.span-2
        h3 Another feature
        br
        p Lobortis malesuada diam orci a aptent adipiscing dui odio habitasse a sed vestibulum adipiscing velit vestibulum semper sem phasellus nibh.
        br
        p #[a.fs-1(href="sbfoton/") Another feature]
      a.g-item.g-img(href="plenaries.html#PL-WED-02")
        img(src="img/speakers/cristina_kurachi.jpg")
        .dados-speaker
          p.nome Dra. Cristina Kurachi
          p.filiacao IFSC USP / Brazil




+rodape('home')