include /_mixins

+menu('home')


//- .conteudo


.slide.s-hero.pad
  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      .bottom-p
        p The Brazilian Photonics Society, #[a.link-importante(href="/?f=0") SBFoton], invites the optics and photonics community to attend its first annual meeting, the SBFoton International Optics and Photonics Conference, to be held at #[a(href="https://www.hotelmajestic.com.br/", target="_blank") Hotel Majestic Convention Center] from October 8-10 in #[a(href="https://goo.gl/maps/mSS3up7z78M2",target="_blank") Águas de Lindoia], in the State of São Paulo. The proposed format for the event is a conference with peer-reviewed paper sessions, plenary sessions, invited speakers, tutorial speakers, short courses and panels. It will also have a Exhibit Hall. SBFoton 2018, under the theme “Gathering All”, is technically supported by IEEE Photonics Society and is the first specific conference for Photonics and related technologies in Brazil.

.slide.pad.slide-destaques
  p oioi oi oi oio
