include /_mixins

+menu('home')


//- .conteudo


.slide.s-hero.pad
  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      .bottom-p
        p The Brazilian Photonics Society, #[a.link-importante(href="/?f=0") SBFoton], invites the optics and photonics community to attend its first annual meeting, the SBFoton International Optics and Photonics Conference, to be held at #[a(href="https://www.hotelmajestic.com.br/", target="_blank") Hotel Majestic Convention Center] from October 8-10 in #[a(href="https://goo.gl/maps/mSS3up7z78M2",target="_blank") Águas de Lindoia], in the State of São Paulo. The proposed format for the event is a conference with peer-reviewed paper sessions, plenary sessions, invited speakers, tutorial speakers, short courses and panels. It will also have a Exhibit Hall. SBFoton 2018, under the theme “Gathering All”, is technically supported by IEEE Photonics Society and is the first specific conference for Photonics and related technologies in Brazil.

.slide.pad.slide-destaques
  .separador-1
  h1 Featured guests & notices
  .separador-1
  .grade
    .g-item.g-img
      img(src="img/speakers/anderson_gomes.jpg")
      .dados-speaker
        p.nome Dr. Anderson Stevens Leônidas Gomes
        p.filiacao DF UFPE / Brazil
    .g-item.g-text.span-2
      h3 Workshops by WTON
      br
      p Nibh vitae vestibulum aptent ut fusce eleifend mollis tristique mus parturient adipiscing sapien ut parturient posuere. Nibh vitae vestibulum aptent ut fusce eleifend mollis tristique mus parturient adipiscing sapien ut parturient posuere.
    .g-item.g-img
      img(src="img/speakers/antonio_teixeira.jpg")
      .dados-speaker
        p.nome Dr. António Luis Jesus Teixeira
        p.filiacao Universidade de Aveiro / Portugal
    .g-item.g-img
      img(src="img/speakers/chennupati_jagadish.jpg")
      .dados-speaker
        p.nome Dr. Chennupati Jagadish
        p.filiacao Australian National University / Australia
    .g-item.g-img
      img(src="img/speakers/cristina_kurachi.jpg")
      .dados-speaker
        p.nome Dra. Cristina Kurachi
        p.filiacao IFSC USP / Brazil
    .g-item.g-text.span-2
      h3 About SBFOTON
      br
      p The Brazilian Photonics Society has begun its activities on May 24th, 2017 with the main objective to work for increasing the importance and awareness of optics and photonics in Brazil and South America.
      br
      p #[a.fs-1(href="sbfoton/") Learn more about the society]