include /_mixins


.popin
  .conteudo
    .pure-g
      .pure-u-1
        h1 sbfoton #[br] conference #[br] 2018
        p.where-when
          | Águas de Lindóia, #[br]
          | October 8—10th
        a(href="/conference/")
          | Call for papers
  button#fecha-popin about sbfoton

.conference-call
  a(href="/conference/") sbfoton #[br] conference #[br] 2018 #[i(class="fa fa-chevron-circle-right")]


.conteudo
  .pure-g
    .pure-u-1
      .logo
        img(src="img/logo.svg")
      div
        p A Sociedade Brasileira de Ótica e Fotônica, SBFoton, é uma associação, sem fins lucrativos, que tem como principal objetivo a criação no Brasil de um meio ambiente propício ao desenvolvimento da pesquisa e inovação em Fotônica. Um aspecto inovador que nossa Sociedade traz para a comunidade brasileira é dar ênfase não só às atividades acadêmicas e centros de pesquisa, mas a inclusão de atividades industriais e empresariais inovadoras que estejam contribuindo para desenvolvimento desse importante e novo ramo do conhecimento tecnológico.  Para isso, fornecerá aos seus associados informações, cursos e eventos para aumentar suas capacitações e a interação entre interessados em fotônica.

.separador-2

.conteudo
  .pure-g
    .pure-u-1
      h2 Filiação
      p Pessoas físicas e jurídicas com interesse em ótica e fotônica podem se filiar à SBFoton. Para as pessoas físicas existem dois tipos de filiação, Sócio Efetivo e Aspirante. Os Sócios Efetivos são os pesquisadores, professores e profissionais de empresas e os Aspirantes os estudantes de graduação, mestrado e doutorado. As empresas podem se filiar à SBFoton como Sócio Mantenedor. Todos os três tipos de associados terão descontos proporcionais aos valores das suas anuidades nas inscrições dos eventos.
      p As anuidades, até 31 de Maio de 2018, são:
  .pure-g.centraliza.c-blocos-destaque
    .pure-u-1-1.pure-u-sm-1-3.pad-1-2
      .bloco-destaque.info
        h4 Sócios efetivos
        p R$&#8239;150,00
    .pure-u-1-1.pure-u-sm-1-3.pad-1-2
      .bloco-destaque.info
        h4 Aspirantes
        p R$&#8239;50,00
    .pure-u-1-1.pure-u-sm-1-3.pad-1-2
      .bloco-destaque.info
        h4 Mantenedores
        p R$&#8239;5.000,00

.conteudo
  .pure-g
    .separador-visivel-3
    .pure-u-1
      p Para a filiação à SBFoton precisa-se preencher um dos seguintes formulários e fazer o depósito da anuidade correspondente na conta bancária da SBFoton:

.conteudo
  .pure-g.centraliza.c-blocos-destaque
    .pure-u-1-2.pad-1-2
      a.bloco-destaque.acao(href="https://goo.gl/forms/J0nsQRzoiJijfvEj1") Pessoa Física
    .pure-u-1-2.pad-1-2
      a.bloco-destaque.acao(href="https://goo.gl/forms/URrJs4CUYPng0RXK2") Pessoa Jurídica


.separador-1   
.conteudo
  .pure-g
    .pure-u-1     
      h3 Dados da conta bancária da SBFoton para o depósito da anuidade:
      blockquote
        | Banco do Brasil #[br]
        | Agência: 2447-3 #[br]
        | Conta Corrente: 57784-7 #[br]
        | CNPJ: 28.898.556/0001-66
      p Enviar o comprovante de depósito bancário para #[a(href="mailto:sbfoton@sbfoton.org.br") sbfoton@sbfoton.org.br].


.separador-2

.conteudo
  .pure-g
    .pure-u-1
      h2 Direção
      - each item, key in Membros
        h4 #{key}
        .c-membros
          - each membro in item
            .membro
              h5 #{membro[0]} 
              p #{membro[1]} #[br] #{membro[2]}


.separador-2

.conteudo
  .pure-g
    .pure-u-1
      h2 Contato
      p 
        | Rua Dr. Ricardo Benetton Martins, 1000 #[br]
        | Parque II do Polo de Alta Tecnologia #[br]
        | 13086-902 Campinas SP #[br]#[br]
        | #[a(href="mailto:sbfoton@sbfoton.org.br") sbfoton@sbfoton.org.br]



script.
  $(document).ready(function(){

    // para borrar fundo
    $('body').addClass('popado');

    // esconde popin
    function esconde_popin() {
      $('.popin').css('display','none');
      $('body').removeClass('popado');
    }

    $(document).on('click', function(event) {
      console.log('window');
      if (!$(event.target).closest('.popin').length) {
        esconde_popin();
      }
    });

    $('#fecha-popin').click(esconde_popin);



  });
