include /_mixins

+menu('home')


//- .conteudo


.slide.s-hero.pad
  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      .bottom-p
        p The Brazilian Photonics Society, #[a.link-importante(href="/?f=0") SBFoton], invites the optics and photonics community to attend its first annual meeting, the SBFoton International Optics and Photonics Conference, to be held at #[a(href="https://www.hotelmajestic.com.br/", target="_blank") Hotel Majestic Convention Center] from October 8-10 in #[a(href="https://goo.gl/maps/mSS3up7z78M2",target="_blank") Águas de Lindoia], in the State of São Paulo. The proposed format for the event is a conference with peer-reviewed paper sessions, plenary sessions, invited speakers, tutorial speakers, short courses and panels. It will also have a Exhibit Hall. SBFoton 2018, under the theme “Gathering All”, is technically supported by IEEE Photonics Society and is the first specific conference for Photonics and related technologies in Brazil.
    .pure-u-1.pure-u-sm-1-4.pure-u-lg-1-3.pure-u-xl-1-2
      #reg-plus
        #reg
          a(href="/") Registration
          p from July 1st to August 8th
        #plus
          p ↓
          //- ⭝

.slide.pad.slide-destaques
  .separador-1
  h1 Featured guests & notices
  .separador-1
  .grade
    .g-item.g-img
      img(src="img/speakers/anderson_gomes.jpg")
      .dados-speaker
        p.nome Dr. Anderson Stevens Leônidas Gomes
        p.filiacao DF UFPE / Brazil
    .g-item.g-text.span-2
      h3 Workshops by WTON
      br
      p Nibh vitae vestibulum aptent ut fusce eleifend mollis tristique mus parturient adipiscing sapien ut parturient posuere. Nibh vitae vestibulum aptent ut fusce eleifend mollis tristique mus parturient adipiscing sapien ut parturient posuere.
    .g-item.g-img
      img(src="img/speakers/antonio_teixeira.jpg")
      .dados-speaker
        p.nome Dr. António Luis Jesus Teixeira
        p.filiacao Universidade de Aveiro / Portugal
    .g-item.g-text.span-1
      p We have moved the conference to Universidade Estadual de Campinas, in Campinas, São Paulo.
      br
      p #[a.fs-1(href="sbfoton/") About Unicamp]
    .g-item.g-img
      img(src="img/speakers/chennupati_jagadish.jpg")
      .dados-speaker
        p.nome Dr. Carlos Lee
        p.filiacao EPIC members drive the photonics revolution
    .g-item.g-text.span-2
      h3 About SBFOTON
      br
      p The Brazilian Photonics Society has begun its activities on May 24th, 2017 with the main objective to work for increasing the importance and awareness of optics and photonics in Brazil and South America.
      br
      p #[a.fs-1(href="sbfoton/") Learn more about the society]
    .g-item.g-img
      img(src="img/speakers/chennupati_jagadish.jpg")
      .dados-speaker
        p.nome Dr. Chennupati Jagadish
        p.filiacao Australian National University / Australia
    .g-item.g-text.span-2
      h3 Another feature
      br
      p Lobortis malesuada diam orci a aptent adipiscing dui odio habitasse a sed vestibulum adipiscing velit vestibulum semper sem phasellus nibh.
      br
      p #[a.fs-1(href="sbfoton/") Another feature]
    .g-item.g-img
      img(src="img/speakers/cristina_kurachi.jpg")
      .dados-speaker
        p.nome Dra. Cristina Kurachi
        p.filiacao IFSC USP / Brazil


.slide.s-rodape.invertido
  .pure-g.pad
    .separador-2
    .pure-u-1.pure-u-md-3-8.pure-u-xl-1-4
      #link-logo-rodape #[a(href="/?f=0") #[img#logo-rodape(src="/img/logo_sbfoton/mono-invertido.svg") ]]
      p.fs-2 The #[a(href="/?f=0") Brazilian Photonics Society] has begun its activities on May 24th, 2017 with the main objective to work for increasing the importance and awareness of optics and photonics in Brazil and South America.
      p.fs-2 To contact SBFoton and take active part in this movement, send an email to #[a(href="mailto:conference@sbfoton.org.br") conference@sbfoton.org.br].
    .pure-u-1.pure-u-md-1-4.pure-u-xl-1-2
      .separador-2
    .pure-u-1.pure-u-md-3-8.pure-u-xl-1-4
      h3 Support
      .support
        a(href="http://portal.utfpr.edu.br/", target="_blank") UTFPR
        a(href="https://www.cpqd.com.br/", target="_blank") CPqD
        a(href="https://www.usp.br/", target="_blank") USP
        a(href="http://www.unicamp.br/unicamp/", target="_blank") Unicamp
        a(href="https://www2.ufscar.br/", target="_blank") UFSCar
        a(href="http://www.ita.br/", target="_blank") ITA
        a(href="http://www.ieav.cta.br/", target="_blank") IEAv (CTA)
        a(href="http://universidadebrasil.edu.br/inicio/", target="_blank") Universidade Brasil
        a(href="https://unip.br", target="_blank") UNIP
  .pure-g.pad
    .pure-u-1
      p.credits This website and the event’s visual identity were created by #[a(href="http://www.preface.com.br/",target="_blank") Preface&nbsp;design].

