include /_mixins

+menu('Instructions for Authors')

#slide-container

  //- .conteudo

  .slide.s-default.s-var-3.pad
    .pure-g
      .pure-u-1
        h1 Instructions for&nbsp;authors
      .pure-u-1.pure-u-lg-2-3
        .separador-1
        p Before preparing the package for IEEE Xplore Digital Library, the Publishing Editor of SBFoton IOPC 2019 will coordinate a new review process to check if the uploaded final versions address ALL possible comments and recommendations made by the reviewers.
        p The final manuscript must be an IEEE pdf express compatible file, and it must be uploaded at the EDAS platform. The EDAS checks if the pdf is IEEE Xplore compliant, and gives warning messages of possible compatibility problems. The IEEE Xplore compliant pdf can be generated in the IEEE PDF eXpress site set up for the SBFoton 2019. To use this facility please follow the instructions below.

        h2 PDF Instructions for Authors

        h3 Before creating a PDF

        p Use A4 format (#[a(href="https://www.ieee.org/conferences/publishing/templates.html") template]).
        p Add the copyright notice (978-1-7281-3092-7/19/$31.00 ©2019 IEEE) to the bottom of the first page of your source document (see the field indicated in the IEEE template). Then, proofread your source document thoroughly to confirm that it will require no revision.
        
        .separador-1
        h3 Creating your PDF eXpress Account

        p Log in to the #[a(href="", target="_blank") IEEE PDF eXpress]#[sup tm] site

        .separador-1-half

        h4 First-time users should do the following:
        ol.lista-numerada
          li Select the #[strong New Users — Click Here] link.
          li 
            | Enter the following: #[br]
            p.fs-1.
              > #[strong 48190X] for the Conference ID
              #[br] > your email address
              #[br] > a password
          li 
            | Continue to enter information as prompted.
            p.fs-1.
              An Online confirmation will be displayed and an email confirmation will be sent verifying your account setup.

        .separador-1
        h4 Previous users of PDF eXpress:
        p You need to follow the above steps, but should enter the same password that was used for previous conferences. Verify that your contact information is valid.
        p Please note that the IEEE PDF eXpress site is only a facility to create or verify pdf files. After creating the pdf from the IEEE PDF eXpress site the author need to upload the pdf via EDAS

        .separador-1

        h3 Uploading your PDF eXpress document
        p Sign the IEEE electronic copyright form (link provided at EDAS) and upload the final version of your paper by 31#[sup st] August 2019, at #[a(href="http://edas.info", target="_blank") EDAS Conference Management] System in complete accordance with the above instructions.


        h2 Preparing your presentation
        h3 Oral Session

        ul.lista-generica.lista-padrao
          li Regular Papers: The time slot for each presentation is: 20 min. (15 min. presentation and 5 min. discussion). 
          li Invited Papers: The time slot for each presentation is: 30 min. (25 min. presentation and 5 min. discussion). 
          li Session chairs are instructed to strictly limit the length of a presentation. We kindly ask the presenters their cooperation in keeping the schedule. We ask the presenters to be at the room of their session 15 minutes before the session starts.

        .separador-1-half

        h3 Poster Session
        p Poster sessions provide an opportunity for selected papers to be presented in greater visual detail and the posters should be prepared to facilitate the  discussions with attendees. 
        p The quality of the presentation stimulates the attention from the audience and improves the overall satisfaction of the community attending the conference. The poster message should be clear and understandable without oral explanation. 
        p Each paper will be provided a (150&hairsp;cm × 100&hairsp;cm) bulletin board on which to display a summary of the paper. 
        p Authors must remain in the vicinity of the bulletin board for the duration of the session to answer questions. Note that poster presenters are not supplied with any audiovisual equipment

        .separador-1
        h4 Guidelines 
        p The poster should be a visual presentation of your submitted paper and should meet the following criteria:

        ul.lista-generica.lista-padrao
          li TITLE #[br] The title should be the same as in the submitted paper. Characters should be a minimum of 48 point font size. Your name, School or Center should also be displayed on the poster.
          li SIZE #[br] The poster must be no less than A1 and no larger than #[span.slashed-zero A0] size (#[span.slashed-zero A0] size is 841&hairsp;mm × 1189&hairsp;mm). Orientation of your poster must be in portrait style.
          li LETTERING #[br] The poster should be easily readable at a distance of two metres. Use UPPER and lower case for general content as the use of all-capital text is difficult to read. Avoid using a mixture of type/font styles.
          li HEADINGS #[br] 48 to 60 point font size is recommended for headings.
          li CONTENT #[br] 24 to 32 font size single spaced is recommended. The text should be concise and easy to read.

        p The message that your poster contains should be clear and understandable without the requirement of oral explanation. If relevant, methods should be presented simply and concisely.
        p After the title, the two most important panels are the Introduction and the Conclusion. On the basis of these two panels, a reader will decide whether to consider the poster details and perhaps talk to the presenter. These panels need to be very simple, concise and visually attractive.
        p Results should be presented graphically if possible. Avoid large tables of data. Results should be in line with those originally submitted in your paper.
        p Use pictures, symbols and colour. Figure legends are essential and should be short but informative. If using graphs, they should have a short heading. For visual effect, we recommend that graphs be no smaller than 12&hairsp;cm × 18&hairsp;cm.
        p Photographs should be no smaller than 12&hairsp;cm × 18&hairsp;cm.
        p Use the space to attract your audience for discussion, not to present complex details of methods and results.


  +rodape('Tech Sessions')