include /_mixins

+menu('Plenaries')

#slide-container
  //- .conteudo

  .slide.s-default.s-var-4.pad
    .pure-g
      .pure-u-1
        h1 Plenaries

        .c-trabalhos
          - var i = 1;
          each data, i_data in plenaries 
            .trab-dia
              p.trab-data= i_data
              p.trab-chair= plenaries_chairs[i_data]
              each plenaria in data
                - var trabalho = trabalhos[plenaria.trabalho]
                a.trab-codigo(name="#{plenaria.trabalho}")
                .trabalho
                  +trabalho(i, trabalho.titulo, plenaria.horario, salas[plenaria.sala].nome, trabalho.resumo, trabalho.temas)
                  .trab-autores
                    h3 Presented by
                    each nome_autor in trabalho.autores
                      - var autor = autores[nome_autor]
                      +autor(autor.imagem, autor.nome, autor.instituicao, autor.biografia)
                    - i++;


  +rodape('Plenaries')