include /_mixins

+menu('Student Competition')


//- .conteudo

#slide-container

  .slide.s-default.s-var-3.pad
    .pure-g
      .pure-u-1
        h1 Student Competition
        .separador-2
      .pure-u-1.pure-u-sm-1.pure-u-lg-2-3.pure-u-xl-3-5
        h3 Description
        p The competition was created to:	
        ul.buleted
          li Provide graduate students attending SBFoton Conference 2019 with an engaging challenge to embrace.
          li Motivate and increase the number of students enrolled on scientific R&D activities related to Optics and Photonics..
          li Give students the opportunity to meet and interact with SBFoton Conference attendees to share ideas, gain new insights, and understand possible practical applications.
          li Give students an opportunity to sharpen their communication skills.
          li Provide feedback to students about their research and presentation from a panel of distinguished judges from research centers, industry and academia.
          li Recognize and reward outstanding graduate student research.



        .separador-1
        h3 Organizer and Sponsor
        p SBFoton Conference Student Paper Competition is organized by SBFoton and sponsored by IEEE Photonics Society.

        .separador-1
        h3 Eligibility
        p To register in the competition each participant must attend SBFoton Conference 2019 as a graduate student when submitted the paper, must be the first author and must present the paper at the conference.


        .separador-1
        h3 Registration

        .separador-1-half
        a.reg-but(href="https://registration.sbfoton.org.br/") Registration
        .separador-1

        p Online registration will be open from #[strong.unsure-date September 6th to 30th].
        p Each competition entry must be authored by one student only – neither supervisor(s) nor other student(s) are allowed as co-participants.
        p The submission to the Student Paper Competition should provide the paper conference number/code, in accordance to the SBFoton ConferenceTechnical Program, the student’s name and the university’s name, where the research has been carried out by the competitor as a graduate student when the work was done. The student should also describe succinctly:

        ul.buleted
          li The research problem and motivation for the work
          li Background and related work
          li Research approach
          li Novelty of the research
          li Results and contributions to the area of the research
        

        .separador-1
        h3 Selection Process
        p The Student Paper Competition is a juried track for SBFoton Conference. Juried content will be reviewed by a jury of experts that will evaluate the work based on its overall quality, originality, and relevance to the SBFoton community, as perceived by them for the oral presentation during the designated Technical Session. The Submissions will be evaluated, in an online data entry system, based on:

        ul.buleted
          li Quality of work
          li Novelty of approach
          li Significance of the contribution to the field of SBFoton
          li Clarity of presentation (either oral or poster)
          li Visual presentation (either oral or poster)

        p For the final score computation, the score received from reviewers during the review process, prior to the conference, will be also taken into account.


        .separador-1
        h3 Result and Award
        p The competition result announcement will take place on #[strong.unsure-dates October 10, 2018], during the SBFoton Conference 2019 Closing Ceremony. The top five students will receive, from the competition sponsor (IPS), the following grants:
        ul.buleted
          li 1st place : $1000
          li 2nd and 3rd places : $500 each
          li 4th and 5th places : $250 each


  +rodape('Student Competition')