include /_mixins

a#voltar(href="/?f=0") #[i(class="fa fa-chevron-circle-left")]

.conteudo
  .pure-g
    .pure-u-1
      h2 #[span.leve SBFoton International #[br] Photonics Conference 2018] SBFoton 2018
      p The recently founded Brazilian Photonics Society, SBFoton, proudly invites the optics and photonics community to attend its first annual meeting, the SBFoton International Optics and Photonics Conference, to be held at #[a(href="https://www.hotelmajestic.com.br/",target="_blank") Hotel Majestic] Convention Center from October 8-10 in #[a(href="https://goo.gl/maps/mSS3up7z78M2",target="_blank") Águas de Lindoia], a resort destination famous for its water springs and rural tourism, located not far from the city of Campinas in the State of São Paulo. The proposed format for the event is a conference with peer-reviewed paper sessions, plenary sessions, invited speakers, tutorial speakers, short courses and panels. It will also have a Exhibit Hall.
      p SBFoton 2018, under the theme "Gathering All”, is technically supported by IEEE Photonics Society and is the first specific conference for Photonics and related technologies in Brazil. It is the first specific conference for Photonics and related technologies in Brazil. It ranges from optical communication systems and devices; industrial applications (lasers, optics, coatings, materials processing); biophotonics (biomedical and biophysics); optical sensors and sensing systems; automotive, aviation and agricultural applications; optoelectronic materials and devices; nanophotonics and plasmonics; integrated photonics; color and science vision; and related areas.  
      p The forum is an excellent opportunity for scientists, professors, students, engineers, industry managers and technical leaders to come together and share their expertise, discoveries, and excitement in the most fast-growing and impacting areas of human technical development. It is expected that the high-quality science and comprehensive programming should make SBFoton´2018 the very best opportunity for discussing present and future trends of this exciting branch of science, technology and innovation. 
      h2 Call for Papers
      p Prospective authors are encouraged to submit a full paper for review. Only original papers that have not been published or submitted for publication elsewhere should be considered. Paper submission deadline is May 28th. 
      h2 Suggested Topics
      ul.buleted.duas-colunas
        li Optical fibers and photonic devices
        li Optical Communication systems 
        li Optical Communication networks
        li High-power lasers and high-field phenomena
        li Semiconductor lasers and LEDs
        li Industrial applications of optics and photonics
        li Optical materials and processes
        li Nanophotonics and plasmonics
        li Integrated optics and optoelectronics
        li Classic and quantum optics
        li Nonlinear optics and photonics
        li Spectroscopy, imaging and metrology
        li Optical instrumentation
        li Computational optics
        li Biomedical sensors and wearable systems
        li Biomedical imaging and image processing
        li Therapeutic and diagnostic systems and technologies
        li Optical sensors and applications 
        li Displays and image systems
        li Green photonics
        li Lighting (illumination)

//- .mega-conteudo
//-   ul.topics

.separador-2

.conteudo
  .pure-g
    .pure-u-1
      p SBFoton 2018 uses the EDAS Conference Management System at #[a(href="http://edas.info/", target="_blank") #{"http://edas.info/"} ]. Therefore, please register and upload your paper in English, formatted in accordance with the A4 #[a(href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html") IEEE template], from March 27th to May 28th using the EDAS system. #[strong To allow blind review submit your paper without authors’ names]. In case you do not have an EDAS account yet, follow the instruction to create one at #[a(href="http://conferences.sigcomm.org/co-next/2007/newPerson.php@noauth=1&.html", target="_blank") the EDAS website]. 
      p Using your EDAS’s account, log in and choose “SBFoton 2018”. At least one of the authors of each paper must have a full registration for attending the conference;  one full registration refers to at most two papers in the registration form. The acceptance notification of the papers submitted to “SBFoton 2018” will be sent to the main author on August 3rd. After acceptance, authors will be asked to address the reviewers' comments and submit a final version of the paper.
      p The final version must address issues concerning comments and recommendations from the reviewers; it #[strong MUST also include the copyright notice, at the bottom (in the footer, on the left side) of the first page of each paper], as well as the authors’ names and affiliations.
      p The authors of accepted papers to “SBFoton 2018” should upload the final version by August 27th, 2018. The upload of a new IEEE pdf eXpress compatible file is mandatory, and it must be done in EDAS. Only the papers presented at the conference may be further published.

      h2 Important Dates
      ul.buleted
        li Submission opens: March 27th
        li Regular paper registration deadline: May 28th
        li Regular paper upload deadline: May 30th
        li Regular paper acceptance/rejection notification: August 3rd
        li Regular paper final version upload: August 27th

      h2 Invited speakers (already confirmed)
      ul.buleted
        li Dr. Ioannis Tomkos  - AIT / Greece
        li Dr. Anderson Stevens Leônidas Gomes - DF UFPE  / Brazil
        li Dr. Ben Eggleton - The University of Sydney / Australia
        li Dr. Cristina Kurachi - IFSC USP / Brazil
            
 


      h2 Organizing Committee
      h3 SBFoton 2018 General Chairs
      ul.buleted
        li Dr. Alexandre de Almeida Prado Pohl – UTFPR
        li Dr. Daniel Moutinho Pataca – UNIP
        li Eng. André Luiz Nunes de Souza – CPqD
        li MSc. Stenio Magalhães Ranzini – CPqD
      h3 SBFoton 2018 Technical Program Chairs
      ul.buleted
        li Dr. Carmelo José Albanez Bastos Filho – UPE
        li Dr. Felipe Rudge Barbosa – UNICAMP
        li Dr. Mônica de Lacerda Rocha – USP
        li Dr. Vilson Rosa de Almeida – ITA, IEAv e Universidade Brasil
        li Dr. Yara Galvão Gobato – UFSCAR

      h3 SBFoton 2018 International Liaison
      ul.buleted
        li Dr. Hugo Enrique Hernandez Figueroa – UNICAMP

      h2 About the Brazilian Photonics Society (SBFoton)
      p The Brazilian Photonics Society has begun its activities on May 24th, 2017 with the main objective to work for increasing the importance and awareness of optics and photonics in Brazil and South America. 
      p Today, in Brazil, the research groups require an organization that collects and provides information, training and professional connectivity across a broad area of common interest in optics and photonics. Companies, research centers, and academia will benefit from this interaction and shared knowledge. Come and join us in this initiative!
      p To contact SBFoton and take active part in this movement, send an email to #[a(href="mailto:conference@sbfoton.org.br") conference@sbfoton.org.br].

      h2 Support
      ul.buleted
        li UTFPR
        li CPqD
        li USP
        li Unicamp
        li UFSCar
        li ITA e IEAv (CTA)
        li Universidade Brasil

      h2 Registration Fees
      table.fees
        tr 
          th Delegates and Visitors
          th Early Registration #[br]#[small (before August 6th)]
          th Standard Registration
        tr.there-be-prices
          td FULL SBFoton Society Member
          td #[span.money R$] 800,00
          td #[span.money R$] 960,00
        tr.there-be-prices
          td FULL Non Member
          td #[span.money R$] 1.000,00
          td #[span.money R$] 1.200,00
        tr.there-be-prices
          td Student SBFoton Society Member
          td #[span.money R$] 300,00
          td #[span.money R$] 360,00
        tr.there-be-prices
          td Student Non Member
          td #[span.money R$] 400,00
          td #[span.money R$] 480,00
        tr.there-be-prices
          td Undergraduate Student #[br] SBFoton Society Member*
          td #[span.money R$] 150,00
          td #[span.money R$] 180,00
        tr.there-be-prices
          td Undergraduate Non Member*	
          td #[span.money R$] 200,00
          td #[span.money R$] 240,00
        tr.there-be-prices
          td One day attendance	
          td #[span.money R$] 400,00
          td #[span.money R$] 480,00
        tr.there-be-prices
          td Short Course
          td #[span.money R$] 50,00
          td #[span.money R$] 60,00
        tr.there-be-prices
          td Confraternization Dinner
          td #[span.money R$] 120,00
          td #[span.money R$] 140,00
      .legenda-tabela 
        p Special Undergraduate-group discount*


.conteudo#get-in-touch
  p We can be reached at #[a(href="mailto:conference@sbfoton.org.br") conference@sbfoton.org.br].