include /_mixins

//- a#voltar(href="/?f=0") #[i(class="fa fa-chevron-circle-left")]

img#logo_conf(src="/img/sbfoton_conf_2018.svg")

ul#menu-conf
  li #[a(href="#call-for-papers") Call for Papers]
  li #[a(href="#dates-and-fees") Dates & Fees]
  li #[a(href="#invited-speakers") Invited Speakers]

//- #call-for-papers-overlay
//-   p Call for papers
//-   p.call-deadline Deadline: May 28th


.slide.s-intro.pad
  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      .bottom-p
        p The Brazilian Photonics Society, SBFoton, invites the optics and photonics community to attend its first annual meeting, the SBFoton International Optics and Photonics Conference, to be held at Hotel Majestic Convention Center from October 8-10 in Águas de Lindoia, in the State of São Paulo. The proposed format for the event is a conference with peer-reviewed paper sessions, plenary sessions, invited speakers, tutorial speakers, short courses and panels. It will also have a Exhibit Hall. SBFoton 2018, under the theme “Gathering All”, is technically supported by IEEE Photonics Society and is the first specific conference for Photonics and related technologies in Brazil. 



.slide.s-call-for-papers
  a(name="call-for-papers")
  .pure-g
    .pure-u-1.call-for-papers-banner
      p Call for Papers
      p.call-deadline Deadline: May 28th
  .pure-g.pad
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      p.fs1 Prospective authors are encouraged to submit a full paper for review. Only original papers that have not been published or submitted for publication elsewhere should be considered. Paper submission deadline is May 28th.
  .separador-2
  .pure-g.pad
    .pure-u-1
      h2 Suggested topics
      .topics-wrapper
        .topic-group.opt-comm
          p Optical Communication
        .topics-em-si.g3
          .topic.opt-comm.t1
            p Optical Fibers and Photonic Devices
          .topic.opt-comm.t2
            p Optical Communication Systems
          .topic.opt-comm.t3
            p Optical Networks
        .topic-group.lasers
          p Lasers
        .topics-em-si.g3
          .topic.lasers.t1
            p High-Power Lasers and High-Field Phenomena
          .topic.lasers.t2
            p Semiconductor Lasers and LEDs
          .topic.lasers.t3
            p Industrial Applications of Optics and Photonics
        .topic-group.int-phot
          p Integrated Photonics
        .topics-em-si.g3
          .topic.int-phot.t1
            p Optical Materials and Processes
          .topic.int-phot.t2
            p Nanophotonics and Plasmonics
          .topic.int-phot.t3
            p Integrated Optics and Optoelectronics
        .topic-group.opt-inst
          p Optics and Instrumentation
        .topics-em-si.g5
          .topic.opt-inst.t1
            p Classic and Quantum Optics
          .topic.opt-inst.t2
            p Nonlinear Optics and Photonics
          .topic.opt-inst.t3
            p Spectroscopy, Imaging and Metrology
          .topic.opt-inst.t4
            p Optical Instrumentation
          .topic.opt-inst.t5
            p Computational Optics
        .topic-group.biophot
          p Biophotonics
        .topics-em-si.g3
          .topic.biophot.t1
            p Biomedical Sensors and Wearable Systems
          .topic.biophot.t2
            p Biomedical Imaging and Image Processing
          .topic.biophot.t3
            p Therapeutic and Diagnostic Systems and Technologies
        .topic-group.sensors
          p Sensors, Image and Lighting
        .topics-em-si.g4
          .topic.sensors.t1
            p Optical Sensors and systems
          .topic.sensors.t2
            p Displays and image sensors
          .topic.sensors.t3
            p Green Photonics
          .topic.sensors.t4
            p Lighting (illumination)
  .separador-2
  .pure-g.pad
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      p.fs1 SBFoton 2018 uses the EDAS Conference Management System at #[a(href="http://edas.info/", target="_blank") #{"http://edas.info/"} ]. Therefore, please register and upload your paper in English, formatted in accordance with the A4 #[a(href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html") IEEE template], from March 27th to May 28th using the EDAS system. #[strong To allow blind review submit your paper without authors’ names]. In case you do not have an EDAS account yet, follow the instruction to create one at #[a(href="http://conferences.sigcomm.org/co-next/2007/newPerson.php@noauth=1&.html", target="_blank") the EDAS website].  #[a.saiba-mais(href="#", onclick="$('#saiba-mais').css('display','block'); $(this).css('display','none'); return false;") ? ]
      #saiba-mais(style="display: none;")
        .separador-1
        p.fs-1 Using your EDAS’s account, log in and choose “SBFoton 2018”. At least one of the authors of each paper must have a full registration for attending the conference; one full registration refers to at most two papers in the registration form. The acceptance notification of the papers submitted to “SBFoton 2018” will be sent to the main author on August 3rd. After acceptance, authors will be asked to address the reviewers' comments and submit a final version of the paper.
        p.fs-1 The final version must address issues concerning comments and recommendations from the reviewers; it #[strong MUST also include the copyright notice, at the bottom (in the footer, on the left side) of the first page of each paper], as well as the authors’ names and affiliations.
        p.fs-1 The authors of accepted papers to “SBFoton 2018” should upload the final version by August 27th, 2018. The upload of a new IEEE pdf eXpress compatible file is mandatory, and it must be done in EDAS. Only the papers presented at the conference may be further published.
      .separador-2

//- Important Dates


.slide.s-dates
  a(name="dates-and-fees")
  .pure-g
    .pure-u-1.pad
      .separador-1
      h1 Dates & Fees
      .dates
        .event Submission opens
        .date March 27th
        .event Regular paper registration deadline
        .date May 28th
        .event Regular paper upload deadline
        .date May 30th
        .event Regular paper acceptance/rejection notification
        .date August 3rd
        .event Regular paper final version upload
        .date August 27th

script.
  let instances = [];
  instances.push(
    basicScroll.create({
      elem: document.querySelector('.s-dates'),
      from: 'top-bottom',
      to: 'top-top',
      direct: true,
      props: {
        '--p_s3_y_img1': {
          from: '-45vh',
          to: '30vh'
        },
        '--p_s3_y_img2': {
          from: '55vh',
          to: '-20vh'
        }
      }
    }));
  instances.forEach((instance) => {
    instance.start();
  });
