include /_mixins

//- a#voltar(href="/?f=0") #[i(class="fa fa-chevron-circle-left")]

img#logo_conf(src="/img/sbfoton_conf_2018.svg")
.conteudo.slide.s_intro
  .pure-g
    .pure-u-1
      p The Brazilian Photonics Society, SBFoton, invites the optics and photonics community to attend its first annual meeting, the SBFoton International Optics and Photonics Conference, to be held at Hotel Majestic Convention Center from October 8-10 in Águas de Lindoia, in the State of São Paulo. The proposed format for the event is a conference with peer-reviewed paper sessions, plenary sessions, invited speakers, tutorial speakers, short courses and panels. It will also have a Exhibit Hall. SBFoton 2018, under the theme "Gathering All”, is technically supported by IEEE Photonics Society and is the first specific conference for Photonics and related technologies in Brazil. 