include /_mixins

//- a#voltar(href="/?f=0") #[i(class="fa fa-chevron-circle-left")]

img#logo_conf(src="/img/sbfoton_conf_2018.svg")

ul#menu-conf
  li #[a(href="#call-for-papers") Call for Papers]
  li #[a(href="") Dates & Fees]
  li #[a(href="") Invited Speakers]

//- #call-for-papers-overlay
//-   p Call for papers
//-   p.call-deadline Deadline: May 28th


.slide.s-intro.pad
  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      .bottom-p
        p The Brazilian Photonics Society, SBFoton, invites the optics and photonics community to attend its first annual meeting, the SBFoton International Optics and Photonics Conference, to be held at Hotel Majestic Convention Center from October 8-10 in Águas de Lindoia, in the State of São Paulo. The proposed format for the event is a conference with peer-reviewed paper sessions, plenary sessions, invited speakers, tutorial speakers, short courses and panels. It will also have a Exhibit Hall. SBFoton 2018, under the theme “Gathering All”, is technically supported by IEEE Photonics Society and is the first specific conference for Photonics and related technologies in Brazil. 



.slide.s-call-for-papers
  a(name="call-for-papers")
  .pure-g
    .pure-u-1.call-for-papers-banner
      p Call for Papers
      p.call-deadline Deadline: May 28th
  .pure-g.pad
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      p.fs1 Prospective authors are encouraged to submit a full paper for review. Only original papers that have not been published or submitted for publication elsewhere should be considered. Paper submission deadline is May 28th.
  .separador-2
  .pure-g.pad
    .pure-u-1
      h2 Suggested topics
