include /_mixins

+menu('About')

#slide-container
  //- .conteudo

  .slide.s-default.s-var-2.pad
    .pure-g
      .pure-u-1
        h1 About the conference
        ul.sub-menu
          li.nav-atual #[a Introduction]
          li #[a(href="organizing_committee.html") Organizing Committee]
          li #[a(href="tech_program_committee.html") Technical Program Committee]
    .pure-g
      .pure-u-1.pure-u-lg-2-3
        .separador-1-half
        h2 Connection People with Light
        p The SBFoton International Optics and Photonics Confer­ence, SBFoton Conference, is an annual event organized and promoted by the Brazilian Photonics Society, SBFoton. The conference is aimed at the exchange and dissemination of scientific and technological knowledge on Biophotonics,  Integrated Photonics and Optoelectronics,  Lasers,  Optical Communication,  Optics and Instrumentation, Sensors, Image, and Illumination, and related areas. It gathers national and international representatives of universities, research institutions, entrepreneurs and manufacturers of equipment and devices. It also aims to identify new research topics and business opportunities by joining forces in a networking that will forward a greater interaction among the participants.
        p This second edition of the Conference, themed “Connecting People with Light”, will feature a comprehensive Technical Program and aims to bring together graduate and postgraduate students, researchers and practitioners from academia, research centers and industry to present and discuss current scientific work in optics and photonics, as well as innovations and latest developments.
        p SBFoton Conference 2018 edition has moved and will be held in the city of Campinas, São Paulo state, at the conference facilities of CPqD Foundation, from October 8th to 10th. The format for the event is a conference with peer-reviewed paper sessions, plenary sessions, invited speakers, and short courses. It will also have an Exhibit Hall.

  +rodape('About')
