include /_mixins

+menu('About')


//- .conteudo

.slide.s-default.s-var-2.pad
  .pure-g
    .pure-u-1
      h1 About the conference
      ul.sub-menu
        li #[a(href="index.html") Introduction]
        li.nav-atual #[a Organizing Committee]
        li #[a(href="tech_program_committee.html") Technical Program Committee]
  .pure-g
    .pure-u-1.pure-u-sm-3-4.pure-u-lg-2-3.pure-u-xl-1-2
      p ...

+rodape('About')
