include /_mixins

+menu('About')


//- .conteudo

.slide.s-default.s-var-2.pad
  .pure-g
    .pure-u-1
      h1 About the conference
      ul.sub-menu
        li #[a(href="index.html") Introduction]
        li #[a(href="organizing_committee.html") Organizing Committee]
        li.nav-atual #[a Technical Program Committee]

  .pure-g
    .pure-u-1
      .chairs
        .chair
          .c-membros
            each autor in technical_program_committee
              +membro("", autores[autor].nome, autores[autor].instituicao, autores[autor].biografia)

+rodape('About')
