include /_mixins

+menu('Students')

#slide-container

  .slide.s-default.s-var-3.pad
    .pure-g
      .pure-u-1
        h1 Students
        ul.sub-menu
          li #[a(href="index.html") Students’ Paper Competition]
          li.nav-atual #[a Students’ Free Registration]
      .pure-u-1.pure-u-lg-2-3
        p The IEEE Photonics Society is sponsoring the participation of 10 postgraduate and 45 undergraduate students on the SBFoton 2019 Conference. Students must be members of SBFoton and/or IEEE Photonics Society. The student's selection will follow the applications' arrival order.

        .separador-1

        .separador-1-half
        a.reg-but(href="https://docs.google.com/forms/d/e/1FAIpQLSccY-lj9e400Pvc6_blykTheVHNZ-Gm7Y0zAe6kjLCFb8zr2Q/viewform") Registration
        .separador-1


  +rodape('Student Competition')